
#app
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: auto 1fr
  height: 100%

  > .logo
    box-sizing: border-box
    display: grid
    height: 64px
    justify-items: center
    padding: $gutter 0
    width: 90px

    .logo-icon
      height: 100%
