
#app
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: auto 1fr
  height: 100%

  > .logo
    align-items: center
    box-sizing: border-box
    display: grid
    height: 64px
    justify-items: center
    padding: $gutter * 4 0
    width: 100%

    .logo-icon
      width: 40px
