#assignment
  > .content
    // FIXME: Remove this important
    padding: 0 !important

    .title
      padding: ($gutter * 12) ($gutter * 8)

    .tables
      display: grid
      grid-row-gap: $gutter * 28

      .table-box
        display: grid
        max-height: 300px
        min-height: 300px
        overflow-x: auto
        overflow-y: visible

        .table
          .header
            .row
              height: 52px
                     
          .content
            .row
              height: 38px

          &.items-table
            border-collapse: separate
            border-spacing: 0
            table-layout: fixed

            .header,
            .content
              .row

                &.selected
                  position: relative

                  .phase
                    padding-left: ($gutter * 12) - $selection-border-thickness

                .cell
                  box-sizing: border-box
                  padding: 0 ($gutter * 12)
                  position: relative
                  white-space: nowrap

                  p
                    overflow: hidden
                    text-overflow: ellipsis

                  &.phase
                    max-width: 120px
                    min-width: 120px

                  &.status
                    max-width: 100px
                    min-width: 100px

                  &.start
                    max-width: 140px
                    min-width: 140px

                  &.target
                    max-width: 140px
                    min-width: 140px

                  &.hours
                    max-width: 100px
                    min-width: 100px

              &.header
                .cell
                  p
                    overflow: visible

              &.content
                overflow: auto

                .cell
                  overflow: hidden

          &.resources-table
            border-collapse: separate
            border-spacing: 0
            table-layout: fixed

            .header
              .cell
                position: sticky
                top: 0
                z-index: 500

                p
                  overflow: visible

            .content
              overflow: auto

              .cell
                overflow: hidden

            .content,
            .header
              .row

                &.selected
                  position: relative

                  .assign
                    padding-left: ($gutter * 12) - $selection-border-thickness

                .cell
                  box-sizing: border-box
                  padding: 0 ($gutter * 12)
                  position: relative
                  white-space: nowrap

                  p
                    overflow: hidden
                    text-overflow: ellipsis

                  &.assign
                    max-width: 40px
                    min-width: 40px

                    button
                      box-sizing: border-box
                      display: block
                      height: 20px
                      margin: 0
                      width: 20px

                  &.resource
                    max-width: 100px
                    min-width: 100px

                  &.status
                    max-width: 100px
                    min-width: 100px

                  &.start
                    max-width: 140px
                    min-width: 140px

                  &.target
                    max-width: 140px
                    min-width: 140px

                  &.hours
                    max-width: 100px
                    min-width: 100px

                  &.load
                    max-width: 100px
                    min-width: 100px

                  &.empty
                    max-width: 40px
                    min-width: 40px
                               
    .time-card
      padding-top: $gutter * 12

      .header
        border-top: 1px solid $border-color
        padding: ($gutter * 12) ($gutter * 8)

      .table-box
        display: grid
        max-height: 260px
        min-height: 200px
        overflow-x: auto
        overflow-y: visible

        .table
          &.time-card-table
            border-collapse: separate
            border-spacing: 0
            table-layout: fixed

            .header
              .row
                height: 52px
                       
            .content
              .row
                height: 38px

            .content,
            .header
              .row
                .cell
                  box-sizing: border-box
                  padding: 0 ($gutter * 12)
                  position: relative
                  text-align: left
                  white-space: nowrap

                  p
                    overflow: hidden
                    text-overflow: ellipsis
                                    
                  &.report-date
                    max-width: 140px
                    min-width: 140px
                    width: 140px
                          
                  &.hours
                    max-width: 100px
                    min-width: 100px
                    width: 100px
                         
                  &.note
                    max-width: 300px
                    min-width: 300px
                    width: 300px

    .actions
      display: grid
      grid-row-gap: $gutter * 28

      button
        justify-self: center

      .check-box
        padding-left: 8px

  > .empty-state
    align-content: center
    display: grid
    grid-row-gap: $gutter * 24
    justify-content: center

    .empty-state-icon
      justify-self: center
      width: 120px

    .empty-state-content
      .content-sub-title
        text-align: center
