 
#attachment

    // HEADER

    > .header
        .primary-button
            .plus-icon
                width: 14px
                padding-right: 10px

        .light-primary-button
            .save-icon
              width: 14px
              padding-right: 10px

    // CONTENT

    > .content
        grid-row-gap: 30px
        .actions
            align-self: start
            display: grid
            grid-template-columns: minmax(10px, 1fr) auto
            grid-column-gap: 14px
            .plus-button
                display: grid
                padding: 7px
                svg
                    width: 14px
                &.selected
                    box-sizing: border-box
            .input-container
                position: relative
        .attachment-container
            display: grid
            grid-row-gap: 20px
            align-items: start
            .attachment-box
                display: grid
                grid-row-gap: 7px
                padding: 10px 20px

                // ATTACHMENT FORM

                &.new-attachment
                    .primary-button
                        justify-self: center
                        .plus-icon
                            width: 14px
                            padding-right: 10px

                .file-list
                    overflow: hidden
                    display: grid
                    grid-template-rows: 50px
                    grid-template-columns: 50px minmax(10px, 1fr) auto
                    .close-icon
                        width: 14px
                        padding: 0 17px
                        display: grid
                        align-items: center
                    .file
                        box-sizing: border-box
                        width: 100%
                        height: 100%
                        object-fit: cover
                    .file-description
                        display: grid
                        padding: 6px 14px
                        overflow: hidden

                // MENU

                .menu-container
                    display: grid
                    grid-template-columns: 1fr auto
                    .menu
                        justify-self: end
                        position: relative
                        .menu-icon
                            width: 20px
                        .menu-items
                            position: absolute
                            top: 100%
                            right: 0
                            display: grid
                            grid-row-gap: 10px
                            padding: 10px 20px

            // DATE        
            
            .date
                justify-self: end
                display: grid
                grid-auto-flow: column
                grid-column-gap: 10px


