
#breadcrumb
  display: grid
  grid-auto-flow: column
  justify-items: start
  justify-self: start
  min-height: 40px

  .crumbs
    align-items: center
    box-sizing: border-box
    display: grid
    grid-column-gap: ($gutter * 8)
    grid-template-columns: auto auto
    justify-items: center
    padding: $gutter * 8
    position: relative

    &:last-child
      height: 40px
      opacity: 0
      overflow: hidden
      transition: opacity 1s

    .entities-icon
      width: 20px

    &:not(:first-child)
      padding-left: $gutter * 28
