#calendar
  display: grid !important
  grid-template-columns: 1fr 2fr 1fr !important

  .left-column
    .content
      .table-box
        .table
          .table-header
            .row
              .cell
                .title
                  text-align: left !important

          .table-content
            .cell
              &.event-title
                text-align: left !important

  >.calendar-visualizer

    .content
      align-items: start
      display: grid
      max-height: calc(100vh - 118px)
      overflow-y: auto
