#calendar
  display: grid !important
  grid-template-columns: 1fr 2fr 1fr !important

  .calendar-visualizer
    display: grid
    grid-template-rows: 45px 1fr
    height: 100%
    overflow: auto

    .header
      align-items: center
      display: grid
      padding-left: $gutter * 2

    .content
      align-content: start
      display: grid
      grid-row-gap: $gutter * 3
      margin: $gutter * 2
      margin-right: 0
      max-height: calc(100vh - 134px)
      overflow-y: auto
      padding: $gutter * 3
