
#groups
  > .header
    height: 45px

  .tab-content
    align-self: start

    .left-column
      .table-header
        .row
          .cell
            .title-container
              &:first-child
                width: 230
