
.header
  display: grid
  grid-template-columns: auto auto 1fr auto auto
  .logo
    .logo-icon
      width: 65px
      padding: 10px 8px
  .project
    padding: 15px 142px
  .search
    padding: 20px 40px
    .search-icon
      width: 20px
