
#header
  display: grid
  grid-template-columns: 22fr 56fr 22fr
  grid-column-end: -1
  height: 70px
  .entity
    padding: 15px 0
    text-align: center
  .search
    display: grid
    grid-template-columns: auto 1fr auto
    grid-column-gap: 15px
    padding: 0 40px
    align-items: center
    position: relative
    .search-icon
      width: 24px
    .search-result
      position: absolute
      top: 100%
      width: 100%
      height: 355px
      display: grid
      grid-template-rows: auto 1fr
      .tab
        display: grid
        grid-template-columns: auto auto
        justify-content: start
        p
          padding: 8px 20px
      .result-list
        overflow-y: scroll
        display: grid
        align-items: start
        align-content: start
        padding: 10px 20px
        .place
          padding: 2px 10px
        .result
          display: grid
          grid-template-columns: auto auto 1fr
          grid-column-gap: 14px
          padding: 10px 0
    .notification
      display: grid
      .notification-icon
        height: 24px
  .profile
    display: grid
    grid-template-rows: repeat(2, auto)
    grid-template-columns: 1fr auto
    padding: 0 40px
    .username
      align-self: start
      padding-top: 10px
    .avatar
      grid-row: 1 / -1
      grid-column: 2
      align-self: center
    .role
      align-self: end
      padding-bottom: 10px
