
.header
  display: grid
  grid-template-columns: 21fr 58fr 21fr
  grid-column-end: -1
  height: 70px
  .entity
    padding: 15px 0
    justify-self: center
  .search
    border-left: .5px solid $components-border-color
    display: grid
    grid-template-columns: auto 1fr auto
    grid-column-gap: 15px
    padding: 0 40px
    .search-icon
      width: 24px
      padding: 23px 0
    .search-input
      padding: 23px 0
    .notification
      display: grid
      .notification-icon
        height: 24px
        justify-self: end
        padding: 23px 0
  .profile
    display: grid
    grid-template-rows: repeat(2, auto)
    grid-template-columns: 1fr auto
    padding: 0 40px
    border-left: .5px solid $components-border-color
    .username
      align-self: start
      padding-top: 10px
    .avatar
      grid-row: 1 / -1
      grid-column: 2
      align-self: center
      position: relative
      display: grid
      .pic
        width: 50px
      .role-icon
        width: 15px
        position: absolute
        bottom: 2px
        left: 2px
    .role
      align-self: end
      padding-bottom: 10px
