
#homeLeftColumn
  max-height: calc(100vh - 70px)
  overflow-y: scroll
  box-sizing: border-box
  display: grid
  align-content: start
  padding: 40px 0
  grid-row-gap: 50px
  .button-field
    padding: 0 90px
    .new-project-button
      width: 100%
      padding: 17px 0
  .entities
    display: grid
    padding: 0 20px
    .entity-details
      display: grid
      grid-row-gap: 10px
      padding: 20px
      .row-1
        display: grid
        grid-template-columns: 1fr auto minmax(auto, 50px)
        grid-column-gap: 14px
        .event-log, .unread-msg
          display: grid
          grid-template-columns: auto auto
          grid-column-gap: 7px
          justify-self: end
          .icons
            width: 14px
      .row-2
        display: grid
        grid-template-columns: auto 1fr
        .status
          width: 104px
          display: grid
          grid-template-columns: auto auto
          justify-content: center
          padding: 5px 0
          align-items: center
          text-align: center
          .status-icon
            width: 14px
      .activity
        justify-self: right
        align-self: center
