
#homeRightColumn
  display: grid
  grid-template-rows: repeat(4, auto)
  align-items: start
  grid-row-gap: 20px
  align-content: start
  .header
    height: 70px
    display: grid
    padding: 0 40px
    align-content: center
    justify-content: start
    .new-project-button, .save-button
      width: 128px
      padding: 8px 0
      .plus-icon, .save-icon
        width: 14px
        padding-right: 10px
  .tabs
    display: grid
    grid-template-columns: auto auto
    justify-content: start
    grid-column-gap: 20px
    padding: 0 40px
    .icons
      padding-bottom: 10px
      .icon-detail-icon-maestro, .icon-event-icon
        width: 30px
        padding: 10px
  .project-information
    padding: 0 40px
    .new-project-form
      display: grid
      grid-row-gap: 14px
      grid-column-gap: 40px
      .new-project-title, .assign-manager, .new-project-due-date, .new-project-description, .release
        display: grid
        grid-row-gap: 5px
        .validation-message, .helper
          padding-left: 14px
      .release-container,.manager-container
        display: grid
        position: relative
        .down-icon
          right: 14px
          top: 13px
        .release-list, .manager-list
          position: absolute
          width: 100%
          max-height: 85px
          padding: 10px 14px
          box-sizing: border-box
          overflow-y: scroll
          top: 100%
          z-index: 1000
          display: grid
          grid-row-gap: 10px
      .new-project-due-date
        .input-container
          position: relative
          display: grid
          .datepicker
            position: absolute
            top: 100%
            width: 100%
            z-index: 1000
      .new-project-description
        .textarea-container
          display: grid
          position: relative
          .character-count
            position: absolute
            right: 14px
            bottom: 7px
          textarea
            height: 100px
            padding: 7px 14px
            resize: none
  .response-message
    padding: 0 40px
    text-align: center
