
#homeLeftColumn
  overflow-y: hidden
  box-sizing: border-box
  display: grid
  grid-template-rows: auto 1fr
  align-items: start
  grid-row-gap: 20px
  .header
    display: grid
    grid-template-columns: auto auto
    grid-column-gap: 20px
    justify-content: end
    align-content: center
    height: 70px
    padding: 0 40px
    .header-icon
      height: 30px
  .entities
    display: grid
    padding: 0 20px
    overflow-y: auto
    box-sizing: border-box
    max-height: calc(100vh - 70px)
    .entity-details
      display: grid
      grid-row-gap: 14px
      padding: 20px
      .row-1
        display: grid
        grid-template-columns: 1fr auto minmax(auto, 50px)
        grid-column-gap: 14px
        .event-log, .unread-msg
          display: grid
          grid-template-columns: auto auto
          grid-column-gap: 7px
          justify-self: end
          .icons
            width: 14px
      .row-2
        display: grid
        grid-template-columns: auto 1fr
        .status
          width: 104px
          display: grid
          grid-template-columns: auto auto
          justify-content: center
          padding: 5px 0
          align-items: center
          text-align: center
          .status-icon
            width: 14px
      .activity
        justify-self: right
        align-self: center
