
#home
  box-sizing: border-box
  display: grid
  grid-row: 1 / -1
  grid-template-columns: repeat(5, minmax(10px, 1fr))
  height: 100%

  > .chat-container
    display: grid
    grid-column-end: 5
    grid-template-rows: auto 1fr

    .header
      align-items: center
      display: grid
      height: 64px
      justify-content: end
      padding: 0 ($gutter * 4)

    .chat
      max-height: calc(100vh - 64px)

    .new-project-mode
      align-content: center
      display: grid
      grid-row-gap: ($gutter * 4)
      justify-items: center

      .img
        width: 67px

      .text
        display: grid
        grid-row-gap: ($gutter * 2 )
        justify-items: center
