
#homeRightColumn
  align-content: start
  display: grid
  grid-column: 4
  grid-template-rows: 64px auto calc(100vh - 120px)

  > .content
    display: contents

    & > [id]
      display: contents

      > .header // HEADER
        align-content: center
        display: grid
        grid-template-columns: 1fr auto
        justify-items: end
        padding-right: $gutter * 8

        .primary-button, // BUTTON
        .secondary-button // BUTTON
          justify-self: start

      > .content // CONTENT
        align-content: start
        display: grid
        margin: 0 ($gutter * 1) ($gutter * 1) 0
        overflow: auto
        padding: ($gutter * 12) ($gutter * 8) 0

  > .tabs // TABS
    display: grid
    grid-row: 2
    grid-template-columns: repeat(5, 1fr)
    justify-content: start
    margin: ($gutter * 1) ($gutter * 1) 0 0

    .icon
      align-items: end
      display: grid
      height: 52px
      justify-self: center
      padding: 0 ($gutter * 12)

