
#home
  box-sizing: border-box
  display: grid
  grid-row: 1 / -1
  grid-template-columns: repeat(5, minmax(10px, 1fr))
  height: 100%

  > .chat-container
    box-sizing: border-box
    display: grid
    grid-column-end: 5
    grid-template-rows: 64px 1fr

    .header
      align-items: center
      box-sizing: border-box
      display: grid
      height: 64px
      justify-content: end
      padding: 0 ($gutter * 16)

    .chat
      height: inherit
      margin: ($gutter * 1)
      max-height: calc(100vh - 68px)
      overflow: auto
      width: inherit

    .new-project-mode
      align-content: center
      box-sizing: border-box
      display: grid
      grid-row-gap: ($gutter * 16)
      justify-items: center
      margin: ($gutter * 1)
      max-height: calc(100vh - 66px)

      .img
        width: 120px

      .text
        display: grid
        grid-row-gap: ($gutter * 8)
        justify-items: center
