
#homeRightColumn
  align-content: start
  display: grid
  grid-column: 5 / 6
  grid-template-rows: 64px auto calc(100vh - 127px)

  > .content
    display: contents

    & > [id]
      display: contents

      > .header // HEADER
        align-content: center
        display: grid
        grid-template-columns: 1fr auto
        justify-items: end
        padding-right: $gutter * 2

        .primary-button, // BUTTON
        .secondary-button // BUTTON
          justify-self: start

      > .content // CONTENT
        align-content: start
        display: grid
        margin: 0 ($gutter * 2) ($gutter * 2) 0
        overflow: auto
        padding: ($gutter * 3) ($gutter * 2) 0 ($gutter * 2)

  > .tabs // TABS
    display: grid
    grid-column-gap: ($gutter * 4)
    grid-row: 2
    grid-template-columns: repeat(4, 1fr)
    justify-content: start
    margin: ($gutter * 2) ($gutter * 2) 0 0

    .icon
      height: 28px
      justify-self: center
      padding: ($gutter * 4) ($gutter * 5) ($gutter * 2)
