
#internalServerError
  display: grid
  grid-row-gap: 30px
  align-content: center
  justify-content: center
  justify-items: center
  > .content
      display: grid
      grid-row-gap: 20px
      justify-items: center
      align-items: center
  > .img
      width: 210px
