
#internalServerError
  align-content: center
  display: grid
  grid-row-gap: ($gutter * 4)
  justify-content: center
  justify-items: center

  > .content
    align-items: center
    display: grid
    grid-row-gap: ($gutter * 3)
    justify-items: center

  > .img
    width: 210px
