
#internalServerError
  align-content: center
  display: grid
  grid-row-gap: ($gutter * 4)
  justify-content: center
  justify-items: center
  position: relative

  > .content
    align-items: center
    display: grid
    grid-row-gap: ($gutter * 3)
    justify-items: center

  > .img
    width: 210px

  .error-info
    background: white
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
