
#invite
  display: grid
  grid-row-gap: 30px
  padding: $gutter * 3

  .content
    display: grid
    grid-column-gap: 50px
    grid-template-columns: 1fr 1fr

    .form
      display: grid
      grid-row-gap: 20px

      .actions
        justify-self: end
