
#invite
  > .contents
    display: grid
    grid-column-gap: 50px
    grid-template-columns: 1fr 1fr

    .form
      display: grid
      grid-row-gap: $gutter * 3

      .actions
        justify-self: end
