
#loading
  position: relative
  align-self: center
  > .spinner
    position: absolute
    top: 50%
    width: 100%
    text-align: center
    > div
      width: 18px
      height: 18px
      display: inline-block
