
#loading
  align-self: center
  position: relative

  > .spinner
    position: absolute
    text-align: center
    top: 50%
    width: 100%

    > .bounce
      display: inline-block
      height: 18px
      width: 18px
