
.login
  height: 100%
  display: grid
  align-items: start
  justify-content: center
  .body
    display: grid
    grid-row-gap: 40px
    margin-top: 150px
    min-width: 420px
    .logo
      display: grid
      justify-items: center
      .logo-img
        width: 90px
        height: 87px
    .information
      .form
        display: grid
        grid-row-gap: 10px
        .input
          padding: 10px 0 10px 10px
        .username-container
          grid-row: 1
          display: grid
          grid-template-rows: auto 14px
          grid-row-gap: 5px
          .username
            grid-row: 1
          .validation-error
            grid-row: 2
            padding-left: 10px
        .password-container
          grid-row: 2
          display: grid
          grid-template-rows: auto 14px
          grid-row-gap: 5px
          .container
            display: grid
            position: relative
          .password
            grid-row: 1
          .validation-error
            grid-row: 2
            padding-left: 10px
          .visible-icon
            position: absolute
            top: calc(50% - 8px)
            right: 16px
            width: 16px
        .clickable
          display: grid
          grid-template-columns: repeat(2, 1fr)
          padding-top: 30px
          .button
            padding: 8px 48px
            justify-self: right
          .link
            justify-self: left
            align-self: center
    .login-mode
      display: grid
      grid-row-gap: 20px
      padding-top: 20px
      justify-items: center
      .title
        grid-column: 1 / span 3
      .login-mode-icons
        display: grid
        justify-items: center
        grid-row-gap: 15px
        .icon
          width: 39px
          height: 40px
    .register
      justify-self: center
  .response-error
    width: 100%
    position: absolute
    .box
      display: grid
      grid-template-columns: repeat(2, auto)
      grid-row-gap: 5px
      padding: 15px 30px 15px 50px
      .close-icon
        grid-row: 1 / span 2
        grid-column: 2
        width: 14px
        height: 14px
        justify-self: right
        align-self: center
