
.login
  height: 100%
  display: grid
  grid-template-columns: 416px
  grid-template-rows: 799px
  justify-content: center
  align-content: center
  .body
    display: grid
    grid-template-rows: repeat(4, auto)
    .icon
      display: grid
      grid-template-rows: 116px 62px
      grid-template-columns: 167px
      justify-content: center
      align-content: center
      .maestro
        width: 120px
        height: 116px
        justify-self: center
      .title
        justify-self: center

