
#maestroSettings
  box-sizing: border-box
  display: grid
  height: 100%

  >.tab-content
    display: grid
    grid-template-columns: 2fr 1fr

    >.left-column
      display: grid
      grid-template-rows: 45px 1fr

      .header
        align-items: center
        display: grid
        padding-left: $gutter * 8

      .content
        box-sizing: border-box
        display: grid
        height: 100%

        .table-box
          align-items: start
          display: grid
          max-height: calc(100vh - 110px)
          overflow-y: auto

          .table
            border-collapse: collapse
            table-layout: fixed

            .table-header,
            .table-content
              .row
                height: 40px

                &.selected
                  position: relative

                  .subscribe
                    padding-left: 5px

                .cell
                  box-sizing: border-box
                  overflow: hidden
                  padding: 0 $gutter * 8
                  position: relative
                  text-align: center
                  white-space: nowrap

                  p
                    overflow: hidden
                    text-overflow: ellipsis

                  .tooltip
                    position: absolute

    >.right-column
      .form
        display: grid
        grid-template-rows: 45px 1fr
        height: 100%
        overflow: auto
        position: relative


        .header
          align-items: center
          display: grid
          justify-items: right
          padding-right: $gutter * 8

        .content
          align-content: start
          display: grid
          grid-row-gap: $gutter * 12
          margin: $gutter * 1
          margin-left: 0
          max-height: calc(100vh - 142px)
          overflow-y: auto
          padding: $gutter * 12
