#mojo
  box-sizing: border-box
  height: 32px
  overflow: hidden
  position: relative
  width: 100%

  .filled
    height: 100%
    transition-delay: 0.75s
    transition-duration: 1s
    transition-property: width
    width: 0

  .label
    padding-right: 8 * $gutter
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)


