
#myOrganizations
  display: grid
  grid-template-rows: 45px 1fr
  height: 100%

  > .content
    > .left-column
      .organization
        display: grid
        grid-auto-flow: column
        justify-content: space-between
        padding: ($gutter * 12) ($gutter * 8)

        .info
          align-items: center
          display: grid
          grid-auto-flow: column
          grid-column-gap: $gutter * 8

          &.info
            .logo
              width: 40px

            .member
              display: grid
              grid-auto-flow: column
              grid-column-gap: $gutter * 4

        .actions
          align-self: center
          display: grid
          grid-auto-flow: column
          grid-column-gap: $gutter * 8
