
#organizations
  display: grid
  align-content: start
  grid-row-gap: 18px
  padding: 25px
  > .org-action, > .org-info
    display: grid
    grid-auto-flow: column
    button
      justify-self: end
    &.org-action
      align-items: center
    &.org-info
      padding: 15px 14px
