
#newReleaseForm
  > .header // HEADER
    .secondary-button // BUTTON
      .save-icon
        padding-right: $gutter
        width: 14px

  > .release-information // FORM
    grid-row-gap: $gutter * 3
    position: relative
