
#newAccount
  display: grid
  grid-template-rows: 45px 1fr
  height: 100%

  > .content
    .right-column
      align-content: start

      .form
        align-content: start
        display: grid
        grid-row-gap: $gutter * 12

        .actions
          justify-self: end
