
#newOrganization
  display: grid
  grid-row-gap: 30px
  padding: $gutter * 3

  .content
    display: grid
    grid-template-columns: 2fr 2fr

    .form
      display: grid
      grid-row-gap: 20px

      .actions
        justify-self: end
        