
#newNuggetForm
  > .header // HEADER
    .secondary-button // BUTTON
      .save-icon
        padding-right: $gutter
        width: 14px

  > .nugget-information // FORM
    grid-row-gap: $gutter * 2
    position: relative
