
#newPhasePopup
  align-content: center
  align-items: center
  display: grid
  height: 100%
  justify-items: center
  left: 0
  position: fixed
  top: 0
  width: 100%

  .popup-content,
  .popup-header
    box-sizing: border-box
    display: grid
    padding: $gutter * 3
    width: 547px

  .popup-header
    grid-template-columns: 1fr auto

    .close-icon
      width: 14px

  .popup-content
    grid-row-gap: $gutter * 3

    button
      justify-self: end

    .order-container
      display: grid
      grid-auto-flow: column
      grid-column-gap: $gutter * 2

