
#newProjectForm
  > .header // HEADER
    .secondary-button // BUTTON
      .save-icon
        padding-right: $gutter * 4
        width: 14px

  > .project-information // FORM
    grid-row-gap: $gutter * 12
    position: relative
