
#newProjectForm
  display: contents

  // HEADER

  > .header
    display: grid
    padding: 0 30px
    align-content: center
    justify-content: start

    // BUTTON

    .light-primary-button
      .save-icon
        width: 14px
        padding-right: 10px

  // FORM

  > .project-information
    padding: 0 30px
    display: grid
    grid-row-gap: 14px
    align-content: start
    overflow: auto
    .response-message
      padding: 0 40px
      text-align: center
