
#newProjectForm

  // HEADER

  > .header

    // BUTTON

    .light-primary-button
      .save-icon
        width: 14px
        padding-right: $gutter

  // FORM

  > .project-information
    grid-row-gap: 14px
    .response-message
      padding: 0 ($gutter * 6)
      text-align: center
