
#noFormState
  .unselected
    align-content: center !important
    align-items: center
    display: grid
    grid-row-gap: $gutter * 7
    justify-content: center
    text-align: center
    width: inherit

    .unselected-icon
      justify-self: center
      width: 67px

    .description
      display: grid
      grid-row-gap: $gutter
