
#notFound
  align-content: center
  display: grid
  grid-row-gap: 30px
  justify-content: center
  justify-items: center

  > .content
    align-items: center
    display: grid
    grid-row-gap: 20px
    justify-items: center

  > .img
    width: 230px
