
#nuggetTableView
  align-items: start
  align-self: stretch
  display: grid
  grid-template-rows: minmax(10px, 1fr)

  > .entities
    display: grid
    height: 100%
    overflow-x: auto
    overflow-y: visible

    .table
      border-collapse: collapse
      table-layout: fixed

      .header,
      .content
        .row
          height: 40px

          &.selected
            position: relative

          .cell
            box-sizing: border-box
            padding: 0 $gutter * 5
            position: relative
            white-space: nowrap

            &.subscribe
              max-width: 50px
              width: 50px

            .tooltip
              position: absolute

        &.header
          .cell
            p
              overflow: visible

            .title-container
              display: grid
              grid-column-gap: $gutter * 2
              justify-content: center

            &.active
              .title-container
                align-items: center
                grid-column-gap: $gutter * 2
                grid-template-columns: auto 10px


                .icon
                  display: grid

        &.content
          .cell
            max-width: 150px
            text-align: center

            p
              overflow: hidden
              text-overflow: ellipsis
