
#nuggetsMenu
  position: fixed
  z-index: 10000

  .menu
    display: grid
    grid-auto-flow: row
    list-style: none
    width: 170px

    .item
      padding: $gutter

      &.project,
      &.priority,
      &.status
        display: grid
        grid-auto-flow: column
        position: relative

        .arrow-icon
          justify-self: end
          width: 6px

        .submenu
          display: grid
          list-style: none
          max-height: 86px
          overflow: auto
          position: absolute
          right: -172px
          top: 0
          width: 170px

          .submenu-item
            padding: $gutter

