
#nuggetList
  align-items: start
  display: grid
  grid-column: 1 / 4
  grid-template-rows: 70px calc(100vh - 70px)

  > .header
    align-content: center
    align-self: stretch
    display: grid
    padding: 0 ($gutter * 4)

  > .content
    box-sizing: border-box
    display: grid
    grid-row-gap: ($gutter * 4)
    grid-template-rows: auto minmax(10px, 1fr)
    height: 100%
    padding: ($gutter * 4)

    .filters
      align-items: center
      display: grid
      grid-gap: ($gutter * 2)
      grid-template-columns: repeat(auto-fill, minmax(128px, 1fr))

      .filter-type
        position: relative

    .empty-state
      align-self: center
      display: grid
      grid-row-gap: ($gutter * 3)
      justify-items: center

      img
        width: 183px

      .text
        display: grid
        grid-row-gap: ($gutter * 2)
        justify-content: center
        justify-items: center

        .subtitle
          text-align: center

