
#personalSettings
  height: 100%

  > .tab-content
    display: grid
    height: 100%

    .header
      align-content: center
      box-sizing: border-box
      display: grid
      grid-template-columns: 1fr auto
      padding: 0 ($gutter * 8)

      .title
        align-self: center

    .content
      display: grid
      grid-column-gap: ($gutter * 1)
      grid-template-columns: 3fr 1fr
      padding: ($gutter * 1) ($gutter * 1)

      .left-column,
      .right-column
        align-content: start
        display: grid
        height: calc(100% - 24px)
        padding: $gutter * 12

        &.right-column
          grid-row-gap: $gutter * 12

          .inputs
            align-content: start

