
#phases
  .left-column
    .content
      .table-box
        .table
          .table-content
            .cell
              &.associated-skills
                align-items: center
                box-sizing: border-box
                grid-auto-flow: column
                grid-column-gap: $gutter
                padding: $gutter

                .associated-skills-card
                  box-sizing: border-box
                  display: inline-block
                  margin-right: $gutter
                  padding: $gutter $gutter * 3
                  text-align: center
