
#popup
  align-content: center
  display: grid
  height: 100%
  justify-content: center
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 2000

  .popup-box
    display: grid
    grid-gap: ($gutter * 12)
    padding: ($gutter * 12)
    width: 390px

    p
      justify-self: start

    .button-project
      display: grid
      grid-gap: ($gutter * 12)
      grid-template-columns: auto auto
      justify-content: end
