
#popup
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: grid
  justify-content: center
  align-content: center
  z-index: 2000
  .popupBox
    display: grid
    grid-gap: 20px
    width: 370px
    padding: 20px
    p
      justify-self: start
    .buttonContainer
      display: grid
      grid-template-columns: auto auto
      grid-gap: 20px
      justify-content: end
