
#projectTableView
  display: grid
  grid-template-rows: auto 1fr
  align-items: start
  grid-row-gap: 20px
  .entities
    display: grid
    margin: 0 30px
    .table
      display: grid
      grid-template-columns: 40px 3fr 1fr 1fr 2fr 2fr 1fr
      grid-auto-rows: 40px
      grid-row-gap: 5px
      grid-column-gap: 5px
      .header
        div
          overflow: visible
          justify-self: center
      .row
        display: contents
        div
          line-height: 40px
        img
          vertical-align: middle
          width: 15px
      .name
        padding: 0 16px
