
#projectTableView
  align-items: start
  align-self: stretch
  display: grid
  grid-template-rows: minmax(10px, 1fr)

  > .entities
    display: grid
    height: 100%
    overflow: auto

    .table
      display: grid
      grid-auto-rows: 40px
      grid-column-gap: $gutter
      grid-row-gap: $gutter
      grid-template-columns: 40px repeat(7, minmax(auto, 1fr))

      .row
        display: contents

        .cell
          align-items: center
          display: grid
          padding: 0 ($gutter * 2)

          &.name
            box-sizing: border-box
            width: 150px

            p
              overflow: hidden
              text-overflow: ellipsis

          p
            white-space: nowrap

          &.notification
            justify-items: center

            img
              width: 15px

        &.header
          .cell
            grid-column-gap: ($gutter * 2)
            justify-self: center
            overflow: visible

            &.active
              grid-template-columns: 1fr 10px

              .icon
                display: grid
                width: 100%

      .name
        padding: 0 ($gutter * 2)
