
#projectList
  display: grid
  grid-template-rows: 70px calc(100vh - 70px)
  align-items: start
  .header
    display: grid
    grid-template-columns: 30px 30px
    grid-template-rows: 30px
    grid-column-gap: 30px
    justify-content: end
    padding: 0 30px
    align-self: stretch
    align-content: center
    .header-icon
      position: relative
      display: grid
      .icon
        display: grid
        align-content: center
  .empty-state
    display: grid
    padding: 0 85px
    align-self: center
    grid-row-gap: 20px
    justify-items: center
    img
      width: 183px
      padding-bottom: 20px
    .text
      display: grid
      grid-row-gap: 12px
      justify-items: center
      justify-content: center
      .subtitle
        text-align: center
  &.wide-layout
    grid-column: 1 / 4
  &.narrow-layout
    grid-column: 1 / 2
