
#profile
  // grid-template-rows: 45px 1fr
  height: 100%

  > .content
    > .left-column
      display: grid
      grid-row-gap: 56px
      padding: 0 ($gutter * 12) ($gutter * 12)

      > .title
        display: grid
        grid-auto-flow: column
        grid-column-gap: 12px
        height: 150px

        .icon,
        .text
          align-content: center
          display: grid

          &.icon
            justify-items: end

      > .form
        display: grid
        grid-column-gap: 12px
        grid-template-columns: repeat(2, 1fr)

        .inputs
          align-content: start
          display: grid
          grid-row-gap: 12px

          &.left-side
            .contact-me
              align-items: end
              display: grid
              grid-column-gap: $gutter * 4
              grid-template-columns: auto 1fr auto

              img
                width: 20px

              .secondary-button
                align-self: end
                justify-self: end
                padding: $gutter * 8

                .plus-icon
                  align-self: center
                  display: grid
                  width: 22px

    > .right-column
      grid-row-gap: 64px
      grid-template-rows: auto 1fr
      position: relative

      .inputs
        display: grid
        grid-row-gap: $gutter * 12
