
#profile
  grid-template-rows: 45px 1fr
  height: 100%

  > .content
    > .right-column
      grid-template-rows: auto 1fr
      position: relative

      .inputs
        display: grid
        grid-row-gap: $gutter * 3
