
#projectCardView
  align-items: start
  align-self: stretch
  display: grid
  overflow: auto

  > .entities
    box-sizing: border-box
    display: grid
    max-height: calc(100vh - 64px)
    overflow-y: auto
    padding: ($gutter * 12)

    .entity-details
      display: grid
      grid-row-gap: ($gutter * 8)
      padding: ($gutter * 12)

      .row-1
        display: grid
        grid-column-gap: ($gutter * 8)
        grid-template-columns: 1fr auto minmax(auto, 50px)

        p
          overflow: hidden

        .event-log,
        .unread-msg
          display: grid
          grid-column-gap: $gutter * 4
          grid-template-columns: auto auto
          justify-self: end

          .icons
            width: 14px

      .row-2
        display: grid

        .status,
        .atrisk,
        .on-time,
        .delayed
          align-items: center
          display: grid
          grid-auto-flow: column
          grid-column-gap: $gutter * 4
          justify-content: center
          padding: $gutter * 4 0
          text-align: center
          width: 104px

          .status-icon
            width: 14px

      .activity
        align-self: center
        justify-self: right
