
#releaseTableView
  align-items: start
  align-self: stretch
  display: grid
  grid-template-rows: minmax(10px, 1fr)

  > .entities
    display: grid
    height: 100%

    .table
      border-collapse: separate
      border-spacing: 0
      table-layout: fixed

      .header
        .row
          height: 52px
              
      .content
        .row
          height: 38px

      .header,
      .content
        .row

          &.selected
            position: relative

            .id
              padding-left: ($gutter * 8) - $selection-border-thickness

          .cell
            box-sizing: border-box
            padding: 0 $gutter * 8
            white-space: nowrap

            p
              overflow: hidden
              text-overflow: ellipsis

            &.id
              max-width: 60px
              min-width: 60px

            &.name
              max-width: 200px
              min-width: 200px

            &.target-date
              max-width: 140px
              min-width: 140px

            &.cutoff
              max-width: 140px
              min-width: 140px

            &.group
              align-items: center
              box-sizing: border-box
              grid-auto-flow: column
              grid-column-gap: $gutter * 4
              max-width: 160px
              min-width: 160px
              padding: $gutter * 4

              .group-card
                box-sizing: border-box
                display: inline-block
                margin-right: $gutter * 4
                padding: $gutter * 4 $gutter * 12
                text-align: center

            &.projects
              align-items: center
              box-sizing: border-box
              grid-auto-flow: column
              grid-column-gap: $gutter * 4
              max-width: 200px
              min-width: 200px
              padding: $gutter * 4

              .projects-card
                box-sizing: border-box
                display: inline-block
                margin-right: $gutter * 4
                padding: $gutter * 4 $gutter * 12
                text-align: center

            &.manager
              max-width: 200px
              min-width: 200px

            .tooltip
              position: absolute
                        
            &.empty
              padding: 0
              width: fit-content

        &.header
          .cell
            position: sticky
            top: 0
            z-index: 500

            p
              overflow: visible

            .title-container
              display: grid

            &.name,
            &.manager-id,
            &.group-id,
            &.projects
              text-align: left

            &.active-sorting
              .title-container
                align-items: center
                grid-column-gap: $gutter * 8
                grid-template-columns: auto 10px
                justify-content: center

                .icon
                  display: grid

              &.name,
              &.manager-id,
              &.group-id,
              &.projects
                .title-container
                  justify-content: start

        &.content
          overflow: auto

          .cell
            overflow: hidden
            position: relative
            text-align: center

            &.name,
            &.manager,
            &.group,
            &.projects
              text-align: left
