
#releaseList
  align-items: start
  display: grid
  grid-column: 1 / 4
  grid-template-rows: 64px calc(100vh - 64px)

  > .header
    align-self: stretch
    padding: 0 ($gutter * 4)

  > .content
    box-sizing: border-box
    display: grid
    grid-row-gap: ($gutter * 4)
    grid-template-rows: auto minmax(10px, 1fr)
    height: 100%
    padding: ($gutter * 4)

    .filters
      align-items: center
      display: grid
      grid-auto-flow: column
      grid-column-gap: ($gutter * 2)
      justify-content: start

      .filter-type
        position: relative

    .empty-state
      align-self: center
      display: grid
      grid-row-gap: ($gutter * 3)
      justify-items: center

      img
        width: 183px

      .text
        display: grid
        grid-row-gap: ($gutter * 2)
        justify-content: center
        justify-items: center

        .subtitle
          text-align: center

    .table-container
      display: grid
      grid-row-gap: 10px
      grid-template-rows: minmax(10px, 1fr) auto
