#security
  grid-template-rows: 45px 1fr
  height: 100%

  > .header
    box-sizing: border-box
    display: grid
    grid-template-columns: 1fr auto

    .title
      align-self: center

  > .content
    display: grid
    grid-template-columns: repeat(2, 1fr)

    .right-column
      .form
        display: grid
        grid-row-gap: $gutter * 3

        .actions
          justify-self: end
