
#settingsLeftColumn
  display: grid
  padding: 30px
  justify-content: center
  align-content: start
  grid-row-gap: 30px
  position: relative
  .avatar
    display: grid
    position: relative
    .pic
      width: 180px
    .icon
      width: 20px
      position: absolute
      bottom: 10px
      right: 10px
  .content
    display: grid
    grid-row-gap: 5px
    justify-items: center

