
#settingsLeftColumn
  display: grid
  padding: 30px
  justify-content: center
  align-content: start
  grid-row-gap: 30px
  position: relative
  .content
    display: grid
    grid-row-gap: 5px
    justify-items: center

