
#settingsNavigation
  align-content: start
  display: grid
  grid-row-gap: $gutter * 3
  padding: $gutter * 2

  .tabs
    list-style-type: none
    overflow: hidden

    .header
      padding: $gutter * 3

    .tab
      padding: ($gutter * 2)  ($gutter * 3)

      &.tab
        &.selected
          padding-left: 7px
