
#settings
  display: grid
  grid-template-rows: auto 1fr
  grid-template-columns: 1fr 2fr 2fr
  grid-row: 1 / -1
  > .header
    display: grid
    height: 70px
    align-items: center
    padding: 0 ($gutter * 4)
    grid-column: 1 / -1
    grid-template-columns: 1fr auto auto
    grid-column-gap: ($gutter * 3)
    position: relative
    .icon
      width: 20px

