
#settingsLeftColumn
  display: grid
  padding: ($gutter * 4)
  justify-content: center
  align-content: start
  grid-row-gap: ($gutter * 4)
  position: relative
  .content
    display: grid
    grid-row-gap: $gutter
    justify-items: center
  .avatar
    justify-self: center
