
#settingsNavigation
  align-content: start
  display: grid
  padding: $gutter * 3

  .tabs
    list-style-type: none

    .header
      padding: $gutter * 3

    .tab
      padding: ($gutter * 2)  ($gutter * 3)

      &.tab
        &.selected
          padding-left: 6px
