
#settingsMiddleColumn
  display: grid
  justify-content: center
  grid-row-gap: 60px
  grid-template-rows: auto 1fr
  padding: 30px 0
  .tabs
    display: grid
    grid-auto-flow: column
    overflow: hidden
    .tab
      display: grid
      justify-items: center
      align-items: center
      padding: 15px 30px
      grid-row-gap: 10px
