
#settingsMiddleColumn
  display: grid
  justify-content: center
  grid-row-gap: 60px
  grid-template-rows: auto 1fr
  padding: ($gutter * 4) 0
  overflow: auto
  .tabs
    display: grid
    grid-auto-flow: column
    .tab
      display: grid
      justify-items: center
      align-items: center
      padding: ($gutter * 2) ($gutter * 4)
      grid-row-gap: $gutter
