
#settings
  display: grid
  grid-template-rows: auto 1fr
  grid-template-columns: 1fr 4fr
  grid-row: 1 / -1
  > .header
    display: grid
    height: 70px
    align-items: center
    padding: 0 30px
    grid-column: 1 / -1
    grid-auto-flow: column
    grid-column-gap: 18px
    justify-content: end
    .icon
      width: 20px


