
#sidebar
  display: grid
  width: 80px
  grid-row-end: -1
  padding: 40px 0
  .sidebar-items
    align-self: start
    display: grid
    grid-row-gap: 15px
    align-content: start
    .sidebar-item
      display: grid
      justify-items: center
      padding: 25px 0
      position: relative
      left: 0
      &.selected
        left: 5px
      .icon
        height: 30px
  .view-mode
    align-self: end
    grid-row: 5
    justify-self: center
    .view-mode-icon
      width: 30px
