
.side-bar
  display: grid
  grid-template-rows: 40px auto 15px auto
  align-content: start
  justify-items: center
  .icon
    width: 30px
    padding: 25px 30px 25px 20px
  .projects
    grid-row: 2 / 3
  .issues
    grid-row: 4 / 5
