
#sidebar
  display: grid
  grid-row-end: -1
  padding: ($gutter * 28) 0
  width: 90px

  > .sidebar-items
    display: grid
    grid-row-gap: ($gutter * 16)

    &.upper
      align-content: start

    &.lower
      align-content: end

    .sidebar-item
      display: grid
      grid-row-gap: $gutter * 12
      justify-items: center
      left: 0
      padding: ($gutter * 12) 0
      position: relative

      .left-highlight
        align-self: center
        display: none
        left: -4px
        padding: 24px 4px
        position: absolute

      > .icon
        height: 24px

        svg
          height: 100%

      &.selected
        .left-highlight
          display: block
