
.signup
  display: grid
  height: 100%
  justify-content: center
  align-items: start
  .step-1
    display: grid
    grid-row-gap: 40px
    min-width: 420px
    margin-top: 150px
    .logo
      display: grid
      justify-content: center
      align-content: center
      .img
        width: 90px
        height: auto
        justify-self: center
      p
        justify-self: center
    .information
      .form
        display: grid
        grid-gap: 10px
        grid-template-columns: 80px 1fr
        .button
          justify-self: right
          padding: 7px 50px
          grid-column: -1 / 1
          margin-top: 30px
        .input
          padding: 10px
          grid-column: -1 / 1
        .password
          display: grid
          position: relative
          grid-column: -1 / 1
          .hide-icon
            position: absolute
            top: calc(50% - 8px)
            right: 16px
            width: 16px
        .code
          grid-column: 1
        .phone-number
          grid-column: 2
    .login-mode
      display: grid
      justify-items: center
      grid-row-gap: 20px
      .title
        justify-self: center
        margin-top: 20px
      .login-mode-icons
        display: grid
        grid-template-columns: repeat(3, 1fr )
        grid-column-gap: 50px
        justify-items: center
        .icon
          display: grid
          grid-row-gap: 15px
        img
          width: 36.56px
          height: auto
          justify-self: center
    .question
      justify-self: center
