
.signup
  display: grid
  height: 100%
  grid-template-columns: 416px
  grid-template-rows: 799px
  justify-content: center
  align-content: center
  .body
    display: grid
    grid-template-rows: repeat(4, auto)
    .icon
      display: grid
      grid-template-rows: 116.57px 62px
      justify-content: center
      .img
        grid-row: 1 / 2
        width: 120px
        height: 116.57px
        justify-self: center
      p
        justify-self: center
