
#skills
  .left-column
    .content
      .table-box
        .table
          .table-header
            .row
              .cell
                .skill-name,
                .skill-description
                  text-align: left !important

          .table-content
            .cell
              overflow: hidden

              &.skill-name,
              &.skill-description
                text-align: left !important
