
#snackbar
  position: absolute
  display: grid
  align-items: center
  grid-column-gap: ($gutter * 2)
  grid-auto-flow: column
  padding: $gutter ($gutter * 4)
  bottom: 70px
  left: 50%
  transform: translateX(-50%)
  width: fit-content
  .icon
    display: grid

