
#tags
  .left-column
    .content
      .table-box
        .table
          .table-header
            .row
              .cell
                .tag-name,
                .tag-description
                  text-align: left !important

          .table-content
            .cell
              &.tag-name,
              &.tag-description
                text-align: left !important

              &.tag-preview
                align-items: center
                box-sizing: border-box
                grid-auto-flow: column
                grid-column-gap: $gutter * 4
                padding: $gutter * 4

                .tag-preview-card
                  box-sizing: border-box
                  display: inline-block
                  margin-right: $gutter * 4
                  padding: $gutter * 4 $gutter * 12
                  text-align: center
