
#timeCardForm
  > .content
    display: grid
    grid-row-gap: $gutter * 12
    // FIXME: Remove this important
    padding: 0 !important
    position: relative

    .estimate,
    .time-card
      .header
        p
          padding: $gutter * 12

      .estimate-form,
      .time-card-table
        display: grid
        grid-row-gap: $gutter * 12

        .action
          justify-self: center

        &.estimate-form
          padding: $gutter * 8

        &.time-card-table
          .table-box
            display: grid
            max-height: 300px
            min-height: 300px
            overflow-x: auto
            overflow-y: visible

            .table
              border-collapse: collapse
              table-layout: fixed

              .header,
              .content
                .row
                  height: 40px

                  &.selected
                    position: relative

                    .report-date
                      padding-left: 5px

                  .cell
                    box-sizing: border-box
                    padding: 0 $gutter * 8
                    position: relative
                    white-space: nowrap

                    p
                      overflow: hidden
                      text-overflow: ellipsis

                    &.report-date
                      max-width: 100px
                      min-width: 100px

                    &.hours
                      max-width: 50px
                      min-width: 85px

                    &.note
                      max-width: 120px
                      min-width: 120px

                &.header
                  .cell
                    p
                      overflow: visible

                    &.note

                      .title-container
                        p
                          padding-left: 0
                          text-align: left

                &.content
                  overflow: auto

                  .cell
                    overflow: hidden
                    text-align: center

                    &.note
                      p
                        text-align: left

          .time-card-form
            display: grid
            grid-row-gap: $gutter * 12
            padding: $gutter * 8
                      
    .action
      justify-self: center

  > .empty-state
    align-content: center
    display: grid
    grid-row-gap: $gutter * 24
    justify-content: center

    .empty-state-icon
      justify-self: center
      width: 120px

    .empty-state-content
      .content-sub-title
        text-align: center
