

#unread
  align-items: start
  display: grid
  grid-column: 1 / 3
  grid-template-rows: 64px calc(100vh - 65px)

  > .header
    align-items: center
    align-self: stretch
    display: grid
    grid-column-gap: $gutter * 12
    grid-template-columns: 1fr auto auto
    justify-items: end

    .search
      grid-column: -3

    .column-icon
      grid-column: -2
      width: 20px

  > .content
    box-sizing: border-box
    display: grid
    grid-row-gap: ($gutter * 16)
    height: 100%
    overflow: auto

    .empty-state
      align-self: center
      display: grid
      grid-row-gap: ($gutter * 12)
      justify-items: center

      img
        width: 183px

      .text
        display: grid
        grid-row-gap: ($gutter * 8)
        justify-content: center
        justify-items: center

        .subtitle
          text-align: center

    .table-container
      display: grid
      grid-row-gap: 10px
      grid-template-rows: minmax(10px, 1fr) auto
      padding-bottom: $gutter * 4

