
#updateNuggetForm

  // HEADER

  > .header

    // BUTTON

    .primary-button, .light-primary-button
      .plus-icon, .save-icon
        width: 14px
        padding-right: $gutter

  // FORM

  > .nugget-information
      grid-row-gap: 14px
      .response-message
        padding: 0 ($gutter * 6)
        text-align: center
