
#updateContainerForm
  display: contents

  .header
    height: 70px
    display: grid
    padding: 0 30px
    align-content: center
    justify-content: start

    .primary-button, .light-primary-button
      .plus-icon, .save-icon
        width: 14px
        padding-right: 10px
  .container-information
    padding: 0 30px
    display: grid
    grid-row-gap: 14px
    align-content: start
    .container-form
      display: grid
      grid-row-gap: 14px
    .response-message
      padding: 0 40px
      text-align: center
