
#updateNuggetForm
  > .header // HEADER
    display: grid
    grid-template-columns: 1fr auto
    justify-items: end
    padding-right: $gutter * 8

    .primary-button, // BUTTON
    .secondary-button // BUTTON
      justify-self: start

      .plus-icon,
      .save-icon
        padding-right: $gutter * 4
        width: 14px

  > .nugget-information // FORM
    grid-row-gap: $gutter * 12
    position: relative
