
#updateProjectForm
  display: contents

  .header
    height: 70px
    display: grid
    padding: 0 30px
    align-content: center
    justify-content: start

    .primary-button, .light-primary-button
      .plus-icon, .save-icon
        width: 14px
        padding-right: 10px
  .project-information
    padding: 0 30px
    display: grid
    grid-row-gap: 14px
    align-content: start
    .project-form
      display: grid
      grid-row-gap: 14px
      .project-title, .project-due-date, .project-description, .project-release
        display: grid
        grid-row-gap: 5px
        .validation-message, .helper
          padding-left: 14px
      .release-container
        display: grid
        position: relative
      .project-due-date
        .input-container
          display: grid
      .project-description
        .textarea-container
          display: grid
          position: relative
          .character-count
            position: absolute
            right: 20px
            bottom: 8px
          textarea
            height: 100px
            padding: 8px 14px
            resize: none

    .response-message
      padding: 0 40px
      text-align: center
