
#updateProjectForm

  > .header
    .primary-button, // BUTTON
    .light-primary-button // BUTTON
      .plus-icon,
      .save-icon
        padding-right: $gutter
        width: 14px

  > .project-information // FORM
    grid-row-gap: ($gutter * 2)

    .response-message
      padding: 0 ($gutter * 6)
      text-align: center
