
#updateNuggetForm
  display: contents
  .header
    height: 70px
    display: grid
    padding: 0 30px
    align-content: center
    justify-content: start

    .primary-button, .light-primary-button
      .plus-icon, .save-icon
        width: 14px
        padding-right: 10px
  .nugget-information
      padding: 0 30px
      display: grid
      grid-row-gap: 14px
      .nugget-title, .nugget-due-date, .nugget-description, .days, .kind, .nugget-status
        display: grid
        grid-row-gap: 5px
        .validation-message, .helper
          padding-left: 14px
      .kind, .nugget-status
        .kind-container, .status-container
          display: grid
          position: relative
          .down-icon
            right: 14px
            top: 13px
          .kind-list, .status-list
            position: absolute
            width: 100%
            max-height: 85px
            padding: 8px 14px
            box-sizing: border-box
            overflow-y: scroll
            top: 100%
            z-index: 1000
            display: grid
            grid-row-gap: 10px
      .nugget-due-date
        .input-container
          display: grid
      .nugget-description
        .textarea-container
          display: grid
          position: relative
          .character-count
            position: absolute
            right: 20px
            bottom: 8px
          textarea
            height: 100px
            padding: 8px 14px
            resize: none
      .response-message
        padding: 0 40px
        text-align: center
