
#users
  .left-column
    .content
      .table-box
        .table
          .table-content
            .cell
              overflow: hidden

              &.group,
              &.skills
                align-items: center
                box-sizing: border-box
                grid-auto-flow: column
                grid-column-gap: $gutter * 4
                max-width: 200px
                min-width: 200px
                padding: $gutter * 4

                .group-card,
                .skills-card
                  box-sizing: border-box
                  display: inline-block
                  margin-right: $gutter * 4
                  padding: $gutter * 4 $gutter * 12
                  text-align: center

  .right-column
    .form
      .content
        .profile-picture
          justify-self: center


