
#workflows
  .left-column
    .content
      .table-box
        .table
          .table-header
            .row
              .cell
                .workflow-name,
                .workflow-description
                  text-align: left !important

          .table-content
            .cell
              overflow: hidden

              &.workflow-name,
              &.workflow-description
                text-align: left !important

              &.workflow-phases
                align-items: center
                box-sizing: border-box
                grid-auto-flow: column
                grid-column-gap: $gutter * 4
                max-width: 200px
                min-width: 200px
                padding: $gutter * 4

                .workflow-phases-card
                  box-sizing: border-box
                  display: inline-block
                  margin-right: $gutter * 4
                  padding: $gutter * 4 $gutter * 12
                  text-align: center

  .right-column
    .form
      .content
        .phases-form
          .action
            display: grid
            grid-template-columns: auto auto
            justify-items: start
            padding: $gutter * 4 $gutter * 12

            .plus-button
              display: grid
              justify-self: end
              padding: 7px

              svg
                width: 14px

          .phase-list
            box-sizing: border-box
            display: grid
            grid-row-gap: $gutter * 12
            padding: $gutter * 12

            .phase-info
              display: grid
              grid-row-gap: $gutter * 8
              width: 100%

              .order-container
                display: grid
                grid-auto-flow: column
                grid-column-gap: 0
                grid-column-gap: $gutter * 8

              .associated-skills
                grid-column: 1 / -1
