
#workflows
  .left-column
    .content
      .table-box
        .table
          .table-content
            .cell
              overflow: hidden

              &.workflow-phases
                align-items: center
                box-sizing: border-box
                grid-auto-flow: column
                grid-column-gap: $gutter
                max-width: 200px
                min-width: 200px
                padding: $gutter

                .workflow-phases-card
                  box-sizing: border-box
                  display: inline-block
                  margin-right: $gutter
                  padding: $gutter $gutter * 3
                  text-align: center

  .right-column
    .form
      .content
        .phases-form
          .action
            display: grid
            grid-template-columns: auto auto
            justify-items: start
            padding: $gutter $gutter * 3

            .plus-button
              display: grid
              justify-self: end
              padding: 7px

              svg
                width: 14px

          .phase-list
            box-sizing: border-box
            display: grid
            grid-row-gap: $gutter * 3
            padding: $gutter * 3

            .phase-info
              display: grid
              grid-row-gap: $gutter * 2
              width: 100%

              .order-container
                display: grid
                grid-auto-flow: column
                grid-column-gap: 0
                grid-column-gap: $gutter * 2

              .associated-skills
                grid-column: 1 / -1
