#assignment
  > .content
    .table-box
      border-top: 1px solid $border-color

      .table
        .header
          background: $headers-footers-color
          border-bottom: 1px solid $dark-tertiary-color
          cursor: pointer

        .content
          cursor: pointer

          .cell
            border-bottom: 1px solid $dark-tertiary-color

          .row
            &.selected
              background: $light-tertiary-color
              border-left: 5px solid $primary-color

            .assign
              button
                border: 0
                border-radius: 50%
                color: white
                cursor: pointer
                font-size: 25px
                line-height: 5px
                outline: none

                &.assign-button
                  background-color: green
                  font-size: 25px

                &.unassign-button
                  background-color: red
                  font-size: 40px

  > .empty-state
    .empty-state-content
      color: $text-color
