
#assigned
  > .header
    background: $primary-color
    border-bottom: 1px solid $box-shadow-color

  > .content
    .tab
      background: $dark-tertiary-color
      border: 1px solid $border-color
      border-bottom: none
      border-radius: $large-border-radius $large-border-radius 0 0
      cursor: pointer

      &.selected-tab
        background: $headers-footers-color

      .counter
        background: $error-color
        color: $tertiary-color

    .table-box
      border-top: 1px solid $border-color

      .table
        .header
          background: $headers-footers-color
          border-bottom: 1px solid $dark-tertiary-color
          cursor: pointer

          .active-sorting,
          .active-filtering
            color: $secondary-color

          .icon
            &.ascending
              transform: rotate(180deg)

        .content
          cursor: pointer

          .cell
            border-bottom: 1px solid $dark-tertiary-color

            &.tempo
              color: $tertiary-color

              .tempo-card
                border-radius: $default-border-radius

                &.frozen
                  background: $frozen

                &.at-risk
                  background: $error-color

                &.on-time
                  background: $success-color

                &.delayed
                  background: $delayed

            &.due
              color: $delayed

            &.overdue
              color: $error-color

          .row
            &.selected-item
              background: $light-tertiary-color
              border-left: 5px solid $primary-color

              .tempo
                .tempo-card
                  border-radius: $default-border-radius

                  &.frozen
                    background: $frozen-dark

                  &.at-risk
                    background: $dark-error-color

                  &.on-time
                    background: $dark-success-color

                  &.delayed
                    background: $delayed-dark


