#assignment
  > .content
    background: $tertiary-color
    color: $text-color

    .table-box
      border-top: 1px solid $border-color

      .table
        color: $text-color

        .header
          border-bottom: 1px solid $dark-tertiary-color
          cursor: pointer

          .cell
            background: $tertiary-color
            border-bottom: 1px solid $dark-tertiary-color

        .content
          cursor: pointer

          .cell
            border-bottom: 1px solid $dark-tertiary-color

          .row
            &.empty-daily-report
              color: $error-color

            &.selected
              background: $selected-item-color

              td
                &:first-child
                  border-left: $selection-border-thickness solid $primary-color

            .assign
              button
                border: 0
                border-radius: $large-border-radius
                color: $tertiary-color
                cursor: pointer
                font-size: 25px
                line-height: 10px
                outline: none

                &.assign-button
                  background-color: $success-color
                  font-size: 25px

                &.unassign-button
                  background-color: $error-color
                  font-size: 40px

                &.loading
                  background-color: $delayed

    .time-card
      .header,
      .content
        color: $text-color

  > .empty-state
    .empty-state-content
      color: $text-color




