#assignment
  .content
    .table-box
      border: 1px solid $border-color
      border-radius: $small-border-radius

      .table
        .header
          background: $headers-footers-color
          border-bottom: 1px solid $dark-tertiary-color
          cursor: pointer

        .content
          cursor: pointer

          .cell
            border-bottom: 1px solid $dark-tertiary-color

          .row
            &.selected
              background: $light-tertiary-color
              border-left: 5px solid $primary-color

            .assign
              button
                border: 0
                border-radius: $large-border-radius
                color: $tertiary-color
                cursor: pointer
                font-size: 25px
                line-height: 10px
                outline: none

                &.assign-button
                  background-color: $success-color
                  font-size: 25px

                &.unassign-button
                  background-color: $error-color
                  font-size: 40px

  > .empty-state
    .empty-state-content
      color: $text-color
