
#attachment
    > .content
        .actions
            .plus-button
                cursor: pointer
                border-radius: $default-border-radius
                border: 2px solid $light-secondary-color
                &.selected
                    border-radius: $default-border-radius
                    background: $light-secondary-color
        .attachment-container
            .new-attachment
                background: $light-primary-color
                color: $light-tertiary-color
                border-radius: $default-border-radius
            .attachment-box
                border-radius: $default-border-radius
                background: $light-tertiary-color
                box-shadow: 0 1px 15px $dark-deactivated-text-color
                .file-list
                    border: 1px solid $dark-text-color
                    border-radius: $default-border-radius
                    .file
                        border-right: 1px solid $dark-text-color
                        cursor: pointer
                &.mymessage
                    color: $light-tertiary-color
                    background: $light-primary-color
                    .file-list
                        border: 1px solid $light-tertiary-color
                        .file
                            border-right: 1px solid $light-tertiary-color
                    .date
                        color: $light-placeholder-text-color
                .date
                    color: $dark-placeholder-text-color
                