
#attachment

    // HEADER

    >.header
        background: $primary-color

    // CONTENT

    > .content
        .search-container
            .plus-button
                border-radius: $default-border-radius
                border: 2px solid $light-secondary-color
            .input-container
                .close-icon
                    border-radius: 50%
                    background: $tertiary-color
