
#breadcrumb
  .crumbs
    position: relative

    &:first-child
      border-bottom: 1px solid $border-color
      border-bottom-left-radius: $default-border-radius
      border-left: 1px solid $border-color
      border-top: 1px solid $border-color
      border-top-left-radius: $default-border-radius

    &:last-child
      border-bottom: 1px solid $border-color
      border-bottom-right-radius: $default-border-radius
      border-right: 1px solid $border-color
      border-top: 1px solid $border-color
      border-top-right-radius: $default-border-radius

    &:not(:last-child)
      background: $light-tertiary-color

    &:not(:first-child):not(:last-child)
      border-bottom: 1px solid $border-color
      border-right: none
      border-top: 1px solid $border-color

    &:not(:last-child)::after
      border-bottom: 21px solid transparent
      border-left: 21px solid $light-tertiary-color
      border-right: none
      border-top: 20px solid transparent
      content: ''
      height: 0
      position: absolute
      right: -20px
      width: 0
      z-index: 100

    &:not(:first-child)::before
      border-bottom: 20px solid transparent
      border-left: 20px solid $border-color
      border-right: none
      border-top: 20px solid transparent
      content: ''
      height: 0
      left: 2px
      position: absolute
      width: 0
