#calendar
  > .left-column
    .header
      border-left: none !important

    .content
      .table-box
        .table
          .table-content
            .row
              &.selected-event
                background: $selected-item-color

  >.calendar-visualizer
    .header
      border-bottom: 1px solid $border-color
      border-left: 1px solid $border-color

    .content
      border-left: 1px solid $border-color
