#calendar
  > .left-column
    .content
      .table-box
        .table
          .table-content
            .row
              &.selected-event
                background: $light-tertiary-color

  >.calendar-visualizer
    .header
      border-bottom: 1px solid $border-color

    .content
      border: 1px solid $border-color
      border-radius: $small-border-radius
