#calendarVisualizer
  >.content
    >.calendar-box-header
      background: $headers-footers-color
      border-bottom: 1px solid $border-color

    >.calendar-box-content
      .week-days,
      .category,
      .calendar-container
        .week-days-header,
        .category-header
          border-bottom: 1px solid $dark-tertiary-color
