
#filePreview
  background: $dark-placeholder-text-color
  .preview-box
    border-radius: $default-border-radius
    background: $light-tertiary-color
    .preview-header
      background: $primary-color
      .title
        color: $light-tertiary-color
      .close-icon
    .file
      color: $dark-text-color
      .image-box
        border: 1px solid $dark-text-color
        border-radius: $default-border-radius
    .file-details
      color: $dark-text-color
      .file-metadata
        color: $dark-placeholder-text-color
