
.header
  background: $primary-color
  .logo
    background: white
  .entity
    color: white
  .search
    div.notification
      position: relative
      &::after
        content: ''
        background: $notification-circle-color
        border-radius: 50%
        width: 18px
        height: 18px
        position: absolute
        top: 18px
        right: -9px
    .search-input
      background: $primary-color
      color: white
      border: none
      &::placeholder
        color: $placeholder-color
  .profile
    color: white
    .avatar
      .pic
        border-radius: 5px
        border: 2px solid $avatar-border-color
        box-shadow: 0 0 3px $avatar-border-color


