
.header
  .color-line
    .orange
      background: #F39C12
    .purple
      background-color: #8E44AD
    .yellow
      background: #F1C40F
    .blue
      background-color: #3498DB
    .red
      background: #E74C3C
    .green
      background: #2ECC71
    .black
      background: #34495E
  .toolbar
    background: white
    box-shadow: 0 2px rgba(0, 0, 0, 0.04)
  .logo
    background: #34495E
    p
      color: white
  .search
    p
      color: $header-text-color
  .menu
    border-right: 1px solid #EBEBF2
  .profile
    .username
      color: $header-text-color
