
#header
  background: $primary-color
  .entity
    color: $light-text-color
    border-right: .5px solid $border-color
  .search
    div.notification
      position: relative
      &::after
        content: ''
        background: $light-secondary-color
        border-radius: 50%
        width: 18px
        height: 18px
        position: absolute
        top: -4px
        right: -10px
  .profile
    border-left: .5px solid $border-color
    color: $light-text-color
