
.home
  .left-column
    border: 0.5px solid rgba(35, 35, 35, 0.4)
    .button
      background: $primary-color
      color: white
      border: none
      border-radius: 5px
      box-shadow: 0 8px 5px rgba(0, 0, 0, 0.16)
      cursor: pointer
      &:hover
          background: #463B5B
    .projects
      .project-details
        border-top: 2px solid rgb(229, 229, 229)
        cursor: pointer
        &:nth-child(1)
          border: none
        &.selected
          background: rgba(229, 229, 229, 1)
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16)
        .row-1
          p
            color: $dark-text-color
        .row-2
          .status
            border-radius: $default-border-radius
            color: $light-text-color
          .in-progress, .ontime, .done
            background: $success
          .delayed, .at-risk
            background: $error
          .on-hold
            background: $warning
  .right-column
    border: 0.5px solid rgba(35, 35, 35, 0.4)
    .project-information
      background: white
      .title, .text
        color: black
      .due-date, .create-at
        p
          color: black
    .issues
      .button-field
        p
          color: black
        .button
          background: $primary-color
          border: none
          border-radius: 5px
          &:hover
            background: #463B5B
          cursor: pointer
      .issues-list
        .issues-details
          border-top: 2px solid rgb(229, 229, 229)
          &:nth-child(1)
            border: none
          .issue-name
            color: black
          .status
            color: $button-text-color
            border-radius: 5px
            overflow: hidden
            .in-progress, .ontime, .done
              background: $success
            .delayed, .at-risk
              background: $error
            .on-hold
              background: $warning
            .status-icon
              &.at-risk
                background: red
              &.on-hold
                background: red
              &.in-progress
                background: red
