
#home
  > .chat-container
    .header
      background: $primary-color
      border-bottom: 1px solid $box-shadow-color

    .new-project-mode
      background: $tertiary-color
      border-left: 1px solid $border-color
      border-right: 1px solid $border-color

      .text
        color: $text-color

    .chat
      border-left: 1px solid $border-color
      border-right: 1px solid $border-color
