
#homeRightColumn
  border-left: .5px solid $border-color
  .header
    background: $primary-color
    border-left: .5px solid $border-color
    .new-project-button
      border: 1px solid $light-tertiary-color
      border-radius: $default-border-radius
      background: $primary-color
      color: $light-tertiary-color
      .plus-icon
        width: 14px
  .project-information
    background: $tertiary-color
    p
      color: $dark-text-color
    .description-container
      .character-count
        color: $dark-placeholder-text-color
