
#homeRightColumn
  border-left: .5px solid $border-color
  .header
    background: $primary-color
    border-left: .5px solid $border-color
    .new-project-button, .save-button
      border-radius: $default-border-radius
      cursor: pointer
    .new-project-button
      border: 1px solid $light-tertiary-color
      background: $primary-color
      color: $light-tertiary-color
    .save-button
      border: none
      background: $light-tertiary-color
      color: $primary-color
      .plus-icon
        width: 14px
  .tabs
    .icons
      &.selected
        border-bottom: 1px solid $primary-color
        .icon-detail-icon-maestro, .icon-event-icon
          color: $primary-color
      .icon-detail-icon-maestro, .icon-event-icon
        color: $dark-text-color
  .project-information
    .project-form
      .label
        color: $dark-text-color
        &.error
          color: $error
      .validation-message
        color: $error
      .helper
        color: $dark-placeholder-text-color
      .release-container
        .release-list
          color: $dark-text-color
        .show-release-list
          border-radius: $default-border-radius $default-border-radius 0 0
        .down-icon
          cursor: pointer
        .release-list
          background: $light-tertiary-color
          border: 1px solid $dark-placeholder-text-color
          cursor: pointer
      .character-count
        color: $dark-placeholder-text-color
  .response-message
    .error
      color: $error
    .success
      color: $success
