
#invite
  > .content
    .right-column
      .helper
        color: $text-color

      .email-list
        border: 1px solid $border-color
        border-radius: $default-border-radius

        .info
          .text
            color: $light-text-color

        .info + .info
          border-top: 1px solid $border-color

