
#invite
  > .content
    .right-column
      .helper
        color: $text-color

      .email-list
        border: 1px solid $border-color
        border-radius: $default-border-radius
        color: $text-color

        .info
          .text
            color: $light-text-color

          .close-icon
            cursor: pointer

        .info + .info
          border-top: 1px solid $border-color

