
#leftSide
  background: $primary-color
  .carousel
    .carousel-wrapper
      transition: all .5s
      .slide .title-container
        .title
          color: $light-tertiary-color
        .sub-title
          color: $light-placeholder-text-color
    .pagination
      .bullet
        background-color: $dark-primary-color
        border-radius: 50px
        &.selected
          background-color: $light-tertiary-color
