
#leftSide
  background: $primary-color

  .carousel

    .carousel-wrapper
      transition-duration: 0.5s

      .slide
        .title-container
          .title
            color: $light-tertiary-color

          .sub-title
            color: rgba($tertiary-color, 0.5)

    .pagination
      .bullet
        background-color: $dark-primary-color
        border-radius: 50px

        &.selected
          background-color: $light-tertiary-color
