
.login
  background-image: url("./../assets/Bg.pic.1920.1080.jpg")
  .body
    .icon
      color: white
    .information
      .form
        border-bottom: 1px solid rgba(0, 0, 0, 0.20)
        .inputs
          border: 2px solid rgba(255, 255, 255, 0.40)
          border-radius: 3px
          background: rgba(0, 0, 0, 0.25)
          &::placeholder
            color: rgba(255, 255, 255, 0.80)
        .exception
          color: red
        .button
          border: none
          border-radius: 6px
          background: #3498DB
          color: #ffffff
    .login-with
      .icons
        filter: grayscale(100%)
        &:hover
          filter: grayscale(0%)
          transition: 0.03s
