
#login
  .header
    background: $primary-color
    h1
      color: $light-tertiary-color
    .tabs
      color: $light-tertiary-color
      font-weight: $medium
      cursor: pointer
  .body
    .button-container
      button
        border-radius: $default-border-radius
        border: none
        color: $light-tertiary-color
        background: $light-primary-color
      .text
        color: $dark-text-color
        .welcome
          white-space: nowrap
          span
            color: $light-primary-color
        .message
          color: $dark-tertiary-color
  .footer
    color: $primary-color
