
#maestroSettings
  background: $tertiary-color
  border: 1px solid $border-color
  border-radius: $small-border-radius

  .tab-content
    .left-column
      .header
        border-bottom: 1px solid $border-color

      .content
        .table-box
          border: 1px solid $border-color
          border-radius: $small-border-radius

          .table
            .table-header
              background: $headers-footers-color
              border-bottom: 1px solid $dark-tertiary-color
              cursor: pointer

            .table-content
              cursor: pointer

              .cell
                border-bottom: 1px solid $dark-tertiary-color

              .row
                &.selected
                  background: $light-tertiary-color
                  border-left: 5px solid $primary-color

    .right-column
      .form
        .header
          border-bottom: 1px solid $border-color

        .content
          border: 1px solid $border-color
          border-radius: $small-border-radius

