#mojo
  background-color: $tertiary-color
  border: 1px solid $border-color
  border-radius: $default-border-radius

  .filled

    &.on-time
      background-color: $success-color

    &.delayed
      background-color: $delayed

    &.at-risk
      background-color: $error-color
