
#myOrganizations
  > .contents
    border: 1px solid $dark-tertiary-color
    border-radius: $default-border-radius
    color: $dark-text-color

    .organization + .organization
      border-top: 1px solid $dark-tertiary-color

      .info
        img
          border-radius: $default-border-radius
