
#myOrganizations
  > .tab-content
    > .left-column
      .organization
        border: 1px solid $border-color
        border-radius: $default-border-radius

      .organization + .organization
        border-bottom: 1px solid $border-color

        .info
          img
            border-radius: $default-border-radius
