
#newPhasePopup
  background: $dark-placeholder-text-color

  .popup-header
    background: $light-tertiary-color
    border-top-left-radius: $default-border-radius
    border-top-right-radius: $default-border-radius

  .popup-content
    background: $tertiary-color
    border-bottom-left-radius: $default-border-radius
    border-bottom-right-radius: $default-border-radius
