
#nuggetsMenu
  .menu,
  .submenu
    border: 1px solid $border-color
    border-radius: $default-border-radius
    background: $light-tertiary-color
    box-shadow: 0 0 5px $dark-placeholder-text-color

    .item,
    .submenu-item
      border-bottom: 1px solid $border-color
      &:last-child
        border-bottom: none
      &:hover
        background: $tertiary-color
