
#nuggetList
  .header
    background: $primary-color
    .project-title
      color: $light-tertiary-color
    .header-icon
      background: $primary-color
      border-radius: $default-border-radius
      &:hover
        background: $dark-primary-color
      &.selected
        background: $light-tertiary-color
  .empty-state
    .text
      .title-line1, .title-line2, .subtitle
        color: $dark-placeholder-text-color
