
#nuggetList
  > .header
    background: $primary-color

    .project-title
      color: $light-tertiary-color

  > .content
    border: 1px solid $border-color
    border-radius: $large-border-radios

    .empty-state
      .text
        .title-line1,
        .title-line2,
        .subtitle
          color: $dark-placeholder-text-color
