
#nuggetsMenu
  .menu
    border: 1px solid $border-color
    border-radius: $default-border-radius

    .item
      border-bottom: 1px solid $border-color
      &:last-child
        border-bottom: none
      &:hover
        background: $tertiary-color
