
#nuggetList
  border-right: .5px solid $border-color
  .header
    background: $primary-color
    border-right: .5px solid $border-color
    .project-title
      color: $button-text-color
    .header-icon
      background: $primary-color
      border-radius: $default-border-radius
      &:hover
        background: $dark-primary-color
      &.selected
        background: $light-tertiary-color
    .tooltip-container
      .filter-container, .sort-container
        .filter-label, .sort-label
          border-radius: $default-border-radius
          border-bottom: 1px solid $tertiary-color
  .entities
    .table
      .content
        cursor: pointer
        div
          border-bottom: 3px solid $dark-tertiary-color
        .pace
          color: $button-text-color
        .frozen
          background: $frozen
          border-bottom: 3px solid $frozen-dark
        .at-risk
          background: $at-risk
          border-bottom: 3px solid $at-risk-dark
        .on-time
          background: $on-time
          border-bottom: 3px solid $on-time-dark
        .delayed
          background: $delayed
          border-bottom: 3px solid $delayed-dark
      .selected
        div
          background: $tertiary-color
          &.frozen
            background: $frozen-dark
          &.at-risk
            background: $at-risk-dark
          &.on-time
            background: $on-time-dark
          &.delayed
            background: $delayed-dark
