
#personalSettings
  > .tab-content
    background: $tertiary-color
    border: 1px solid $border-color
    border-radius: $small-border-radius

    .content
      .right-column,
      .left-column
        border: 1px solid $border-color
        border-radius: $small-border-radius

    .header
      border-bottom: 1px solid $border-color

      .title
        color: $dark-text-color
