
#personalSettings
  > .tab-content
    background: $tertiary-color

    .content
      .left-column
        border-left: 1px solid $border-color
        border-right: 1px solid $border-color

    .header
      border-bottom: 1px solid $border-color
      border-left: 1px solid $border-color

      .title
        color: $dark-text-color

  #security
    .content
      .right-column
        border-left: 1px solid $border-color
        border-right: 1px solid $border-color
    
