#pictureCrop
  background: $dark-placeholder-text-color

  .popup-box
    background: $light-tertiary-color
    border-radius: $default-border-radius

    .box-header
      background: $light-primary-color
      color: $light-tertiary-color

      .close-icon
        cursor: pointer

    .box-content
      .image-placeholder
        border: 1px dashed $border-color
        border-radius: $default-border-radius

      .caption
        color: $border-color
