
#profile
  > .profile-contents
    align-items: start
    display: grid
    grid-template-columns: 3fr 1fr

    > .profile-form,
    > .profile-dashboard
      border: 1px solid $border-color
      border-radius: $default-border-radius
