
#projectList
  border-right: .5px solid $border-color
  .header
    background: $primary-color
    border-right: .5px solid $border-color
    .header-icon
      background: $primary-color
      border-radius: $default-border-radius
      cursor: pointer
      &:hover
        background: $dark-primary-color
      &.selected
        background: $light-tertiary-color
    .tooltip-container
      .filter-container, .sort-container
        .filter-label, .sort-label
          border-radius: $default-border-radius
          border-bottom: 1px solid $tertiary-color
  .entities
    .entity-details
      border-bottom: 1px solid $tertiary-color
      cursor: pointer
      &:last-child
        border: none
      &.selected
        background: $tertiary-color
        box-shadow: 3px 3px 5px $box-shadow-color
        border-radius: $default-border-radius
        border: none
        .row-2
          .activity
            color: $dark-text-color
      .row-1
        p
          color: $dark-text-color
      .row-2
        .status, .at-risk, .on-time
          border-radius: $default-border-radius
          color: $dark-text-color
          border: 1px solid $dark-text-color
        .on-time
          background: $success
          border: 1px solid $success
          color: $light-tertiary-color
        .at-risk
          background: $error
          border: 1px solid $error
          color: $light-tertiary-color
        .delayed
          background: $warning
          border: 1px solid $warning
          color: $light-tertiary-color
        .activity
          color: $dark-placeholder-text-color
  .empty-state
    .text
      .title-line1, .title-line2, .subtitle
        color: $dark-placeholder-text-color
