
#releaseList
  > .header
    background: $tertiary-color
    border-bottom: 1px solid $box-shadow-color

    .selected-release-name
      border: 1px solid $border-color
      border-radius: $default-border-radius

    .header-icon
      background: $primary-color
      border-radius: $default-border-radius
      cursor: pointer

      &:hover
        background: $dark-primary-color

      &.selected
        background: $light-tertiary-color

  > .content
    border: 1px solid $border-color
    border-radius: $large-border-radios

    .empty-state
      border: 1px solid $border-color
      border-radius: $large-border-radios

      .text
        .title-line1,
        .title-line2,
        .subtitle
          color: $dark-placeholder-text-color
