
#releaseNote

  .right-column
    .form
      .content
        border: 0 !important
        border-left: 1px solid
        border-right: 1px solid
        
        .single-note
          border-bottom: 1px solid $dark-tertiary-color
