
#releaseList
  > .header
    background: $primary-color
    border-bottom: 1px solid $box-shadow-color

    .disabled
      opacity: 0.2

    .selected-release-name
      border: 1px solid $border-color
      border-radius: $default-border-radius

    .header-icon
      background: $primary-color
      border-radius: $default-border-radius
      cursor: pointer

      &:hover
        background: $dark-primary-color

      &.selected
        background: $selected-item-color

  > .content
    .empty-state
      .text
        .title-line1,
        .title-line2,
        .subtitle
          color: $dark-placeholder-text-color
