
#releaseTableView
  > .entities
    .table
      .header
        cursor: pointer

        .active
          color: $light-primary-color

        .icon
          &.ascending
            transform: rotate(180deg)

      .content
        cursor: pointer

        .cell
          border-bottom: 3px solid $dark-tertiary-color

          &.pace
            color: $light-tertiary-color

          &.frozen
            background: $frozen
            border-bottom: 3px solid $frozen-dark

          &.at-risk
            background: $at-risk
            border-bottom: 3px solid $at-risk-dark

          &.on-time
            background: $on-time
            border-bottom: 3px solid $on-time-dark

          &.delayed
            background: $delayed
            border-bottom: 3px solid $delayed-dark

          &.none
            background: $none-color
            border-bottom: 3px solid $none-color-dark

        .row
          &.selected
            background: $tertiary-color

            .pace
              &.frozen
                background: $frozen-dark

              &.at-risk
                background: $at-risk-dark

              &.on-time
                background: $on-time-dark

              &.delayed
                background: $delayed-dark

              &.none
                background: $none-color-dark
