
#settingsNavigation
  > .tabs
    border: 1px solid $dark-tertiary-color
    border-radius: $default-border-radius
    color: $dark-text-color
    .header
      background: $dark-tertiary-color
    li + li
      border-top: 1px solid $dark-tertiary-color
    .tab
      cursor: pointer
    .selected
      border-left: 5px solid $primary-color
