
#settings
  > .header
    background-color: $primary-color

    .header-title
      color: $light-tertiary-color

  > .setting-content
    > .header,
    > .setting-sub-content > .header
      border-bottom: 1px solid $dark-tertiary-color

      .title
        color: $dark-text-color
