
#settingsNavigation
  background: $headers-footers-color

  > .tabs
    border: 1px solid $border-color
    border-radius: $large-border-radius
    color: $secondary-color

    .header
      background: $headers-footers-color
      color: $text-color

    li + li
      border-top: 1px solid $border-color

    .tab
      background: $tertiary-color
      cursor: pointer

    .selected
      border-left: $selection-border-thickness solid $secondary-color
      color: $text-color

  .footer
    color: $text-color
