
#settings
  > .header
    background-color: $tertiary-color
    border-bottom: 1px solid $border-color

    .title
      color: $light-tertiary-color

  > .contents
    background: $headers-footers-color


