
#sidebar
  background-color: $primary-color

  > .sidebar-items
    .sidebar-item
      cursor: pointer
      transition: left 0.3s

      > .icon
        fill: $light-tertiary-color

      p
        color: $light-tertiary-color

      .left-highlight
        background-color: $light-secondary-color

      &.selected
        background-color: $tertiary-color

        p
          color: $primary-color

        .icon
          fill: $primary-color

      &[disabled]
        cursor: not-allowed
        opacity: 0.2

  > .display-type
    .view-mode,
    .theme
      border: 1px solid $light-tertiary-color
      border-radius: $default-border-radius
      box-shadow: 0 0 5px $dark-placeholder-text-color
      cursor: pointer

      &.selected
        background-color: $dark-primary-color
