
.side-bar
  background-color: rgba(70, 59, 91, 1)
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.16)
  .selected
      background-color: rgba(94, 83, 117, 1)
      border-left: 4px solid rgba(47, 36, 69, 1)
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.45)
