
#sidebar
  background-color: $primary-color
  box-shadow: 5px 0 5px $box-shadow-color
  .sidebar-item
    transition: left .3s
    cursor: pointer
    p
      color: $light-tertiary-color
    &.selected
      background-color: $light-primary-color
      box-shadow: 0 0 5px $sidebar-selected-box-shadow-color, -5px 0 0 $dark-primary-color
  .display-type
    .view-mode, .theme
      border: 1px solid $light-tertiary-color
      box-shadow: 0 0 5px $dark-placeholder-text-color
      border-radius: $default-border-radius
      cursor: pointer
      &.selected
        border: 1px solid $dark-primary-color
        background-color: $dark-primary-color
