
.side-bar
  background-color: $primary-color
  box-shadow: 5px 0 5px $box-shadow-color
  .selected
      background-color: $light-primary-color
      border-left: 5px solid $dark-primary-color
      box-shadow: 0 0 5px $-side-bar-selected-box-shadow-color
