
.side-bar
  background-color: $primary-color
  box-shadow: 5px 0 5px $side-bar-box-shadow
  .selected
      background-color: $selected-box-background-color
      border-left: 5px solid $selected-box-border-left-color
      box-shadow: 0 0 5px $selected-box-shadow
