
#snackbar
  border-radius: $default-border-radius
  color: $tertiary-color
  cursor: pointer

  &.error
    background: $dark-error-color

  &.success
    background: $dark-success-color

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s

.fade-enter,
.fade-leave-to
  opacity: 0
