
#snackbar
  border-radius: $default-border-radius
  color: $light-tertiary-color
  cursor: pointer

  &.error
    background: $error-color

  &.success
    background: $success-color

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s

.fade-enter,
.fade-leave-to
  opacity: 0
