
#subscribed
  > .header
    background: $primary-color
    border-bottom: 1px solid $box-shadow-color

    .disabled
      opacity: 0.2

  > .content
    border: 1px solid $border-color
    border-radius: $small-border-radius

    .empty-state
      .text
        .title-line1,
        .title-line2,
        .subtitle
          color: $dark-placeholder-text-color
