
#tags
  .left-column
    .content
      .table-box
        .table
          .table-content
            .row
              &.selected-tag
                background: $light-tertiary-color
            .cell
              &.tag-preview
                .tag-preview-card
                  background: $dark-tertiary-color
                  border-radius: $default-border-radius
