
#timeCardForm
  > .content
    .estimate,
    .time-card
      border: 1px solid $border-color
      border-radius: $large-border-radius

      .header
        border-bottom: 1px solid $border-color

      .time-card-table
        .table-box
          border: 1px solid $border-color
          border-radius: $large-border-radius
          