
#timeCardForm
  > .content
    .estimate,
    .time-card
      .header
        border-bottom: 1px solid $border-color
         
      &.time-card
        border-top: 1px solid $border-color

      .time-card-table
        .table-box
          .table
            .header
              border-bottom: 1px solid $dark-tertiary-color
              cursor: pointer

            .content
              cursor: pointer

              .cell
                border-bottom: 1px solid $dark-tertiary-color

              .row
                &.selected
                  background: $light-tertiary-color
                  border-left: $selection-border-thickness solid $primary-color

                .report-date
                  &.over-due
                    color: $error-color

  > .empty-state
    .empty-state-content
      color: $text-color
