
#updateProjectForm
  .header
    background: $primary-color
    border-left: .5px solid $border-color

  .project-information
    .project-form
      .label
        color: $dark-text-color
        &.error
          color: $error
      .validation-message
        color: $error
      .helper
        color: $dark-placeholder-text-color
      .character-count
        color: $dark-placeholder-text-color

    .response-message
      .error
        color: $error
      .success
        color: $success
