
#users
  > .left-column
    .content
      .table-box
        .table
          .table-content
            .row
              &.selected-user
                background: $selected-item-color

            .cell
              &.group
                .group-card
                  background: $dark-tertiary-color
                  border-radius: $default-border-radius

              &.specialties
                .specialties-card
                  background: $dark-tertiary-color
                  border-radius: $default-border-radius
