
#users
  .left-column
    .content
      .table-box
        .table
          .table-content
            .cell
              &.group
                .group-card
                  background: $dark-tertiary-color
                  border-radius: $default-border-radius

              &.skills
                .skills-card
                  background: $dark-tertiary-color
                  border-radius: $default-border-radius
