
html, body
  height: 100%
  width: 100%

div.avatar
  position: relative
  display: grid
  .pic
    width: 30px
    box-sizing: border-box
  .role-icon
    width: 15px
    position: absolute
    bottom: 2px
    left: 2px

input.primary-input
  padding: 8px 14px

@import "layout/app_layout"
@import "layout/login_layout"
@import "layout/signup_layout"
@import layout/sidebar_layout
@import "layout/home_layout"
@import "layout/home_right_column_layout"
@import "layout/home_left_column_layout"

