
html,
body
  height: 100%
  overflow: hidden
  width: 100%

.tooltip-container // TOOLTIP
  display: grid
  position: absolute
  top: 100%
  z-index: 100000

  .tooltip-header
    padding: $gutter * 3

  .tooltip-content
    display: grid
    grid-row-gap: $gutter * 2
    justify-content: left
    padding: $gutter * 3

  &.center
    left: 50%
    transform: translateX(-50%)

  &.right
    right: -5%

  &.left
    left: 5%

  &.filter-tooltip // FILTER TOOLTIP
    .tooltip-header
      display: grid
      grid-template-columns: 1fr 1fr
      padding: 0

      .filter,
      .sort
        display: grid
        grid-column-gap: $gutter * 2
        grid-template-columns: 1fr 1fr
        padding: ($gutter * 3) 0

        .filter-icon,
        .sort-icon
          padding-left: $gutter * 3
          width: 20px

        .title
          padding-right: $gutter * 3

    .tooltip-content
      .sort-content,
      .filter-content
        display: grid
        grid-row-gap: $gutter * 2

  &.profile  // PROFILE TOOLTIP
    padding: 0
    top: 45px

    .tooltip-header
      display: grid
      grid-row-gap: 5px
      padding: 12px 20px
      width: 190px

    .tooltip-content
      .menu-item
        display: grid
        grid-column-gap: 10px
        grid-template-columns: auto 1fr
        padding: 12px 20px

        .menu-icons
          width: 15px

.checkbox-container // CHECKBOX
  align-items: center
  display: grid
  grid-auto-flow: column
  grid-column-gap: 10px
  justify-content: start

  .checkbox
    display: none

  .check
    height: 14px
    position: relative
    width: 14px

  &
    input
      &:checked + .check::after
        display: block

.radio-container // RADIO BUTTON
  display: grid
  grid-auto-flow: column
  grid-gap: 10px
  justify-content: start

  .radio
    display: none

  .check
    height: 14px
    position: relative
    width: 14px

  & input
    &:checked + .check::after
      display: block

.avatar // AVATAR
  display: grid
  position: relative

  .pic
    align-content: center
    box-sizing: border-box
    display: grid

  .icon
    position: absolute

  &.small
    .pic
      width: 30px

    .icon
      bottom: 2px
      left: 2px
      width: 10px

  &.large
    .pic
      width: 180px

    .icon
      bottom: 10px
      right: 10px
      width: 20px

.input-container // INPUTS
  align-items: center
  display: grid
  grid-row-gap: 5px
  grid-template-rows: auto auto 15px

  .validation-message,
  .helper-text
    padding-left: 12px

  .primary-input,
  .light-primary-input
    padding: 2 * $gutter 3 * $gutter

  .textarea-container,
  .datepicker-container
    display: grid
    position: relative

    &.datepicker-container // DATEPICKER
      .datepicker
        position: absolute
        top: 100%
        z-index: 10000

    &.textarea-container // TEXTAREA
      &.large
        height: 270px

        .character-count
          bottom: 8px
          position: absolute
          right: 20px

      &.medium
        height: 50px

      textarea
        resize: none

  &.search // SEARCH INPUT
    grid-template-rows: initial
    position: relative

    .light-primary-input
      box-sizing: border-box
      padding: 8px 42px
      width: 100%

    .search-icon
      left: 14px
      position: absolute
      top: 50%
      transform: translateY(-50%)

      svg
        width: 14px

    .close-icon
      border-radius: 50%
      display: grid
      padding: 4px
      position: absolute
      right: 14px
      top: 50%
      transform: translateY(-50%)

      svg
        width: 6px

.primary-button, // PRIMARY BUTTON
.secondary-button // LIGHT PRIMARY BUTTON
  padding: 5px 0

  &.small
    min-width: 128px

  &.medium
    min-width: 180px

  &.large
    min-width: 220px

@import 'layout/app_layout'
@import 'layout/sidebar_layout'
@import 'layout/home_layout'
@import 'layout/home_right_column_layout'
@import 'layout/project_list_layout'
@import 'layout/project_card_view_layout'
@import 'layout/project_table_view_layout'
@import 'layout/nugget_list_layout'
@import 'layout/nugget_table_view_layout'
@import 'layout/login_layout'
@import 'layout/update_nugget_form_layout'
@import 'layout/new_project_form_layout'
@import 'layout/update_project_form_layout'
@import 'layout/new_nugget_form_layout'
@import 'layout/popup_layout'
@import 'layout/picture_crop_layout'
@import 'layout/loading_layout'
@import 'layout/settings_layout'
@import 'layout/profile_layout'
@import 'layout/not_found_layout'
@import 'layout/settings_navigation_layout'
@import 'layout/snackbar_layout'
@import 'layout/internal_server_error_layout'
@import 'layout/error_page_layout'
@import 'layout/my_organizations_layout'
@import 'layout/left_side_layout'
@import 'layout/profile_picture_layout'
@import 'layout/account_layout'
@import 'layout/invite_layout'
@import 'layout/attachment_layout'
@import 'layout/file_preview_layout'
@import 'layout/release_list_layout'
@import 'layout/release_table_view_layout'
@import 'layout/new_release_form_layout'
@import 'layout/update_release_form_layout'
@import 'layout/unread_layout'
@import 'layout/pagination_layout'
@import 'layout/filters_layout'
@import 'layout/multiple_nuggets_form_layout'
@import 'layout/nuggets_menu_layout'
@import 'layout/breadcrumb_layout'
@import 'layout/event_log_layout'
@import 'layout/subscribed_layout'
@import 'layout/no_form_state_layout'
