
html, body
  height: 100%
  width: 100%

.tooltip-container
  position: absolute
  z-index: 100000
  top: calc(100% + 10px)
  left: 50%
  transform: translateX(-50%)

// CHECKBOX

.checkbox-container
  display: grid
  grid-auto-flow: column
  justify-content: start
  grid-gap: 10px
  padding: 0 20px
  input.checkbox
    display: none
  .check
    height: 14px
    width: 14px
    position: relative
.checkbox-container input:checked + .check:after
  display: block

// RADIO BUTTON

.radio-container
  display: grid
  grid-auto-flow: column
  justify-content: start
  grid-gap: 10px
  padding: 0 20px
  input.radio
    display: none
  .check
    height: 14px
    width: 14px
    position: relative
.radio-container input:checked + .check:after
  display: block

// AVATAR

.avatar
  position: relative
  display: grid
  .pic
    width: 30px
    box-sizing: border-box
  .role-icon
    width: 10px
    position: absolute
    bottom: 2px
    left: 2px

//INPUTS

.primary-input
  padding: 8px 6px

.light-primary-input
  height: 32px
  padding: 0 14px

.down-icon
  width: 10px
  position: absolute
  &.up
    transform: rotate(180deg)
  &.down
    transform: none

// BUTTONS
.primary-button, .light-primary-button
  padding: 8px 0
  &.small
    width: 128px
  &.medium
    width: 180px
  &.large
    width: 220px

@import "layout/app_layout"
@import layout/sidebar_layout
@import "layout/home_layout"
@import "layout/home_right_column_layout"
@import "layout/project_list_layout"
@import "layout/nugget_list_layout"
@import "layout/login_layout"
@import "layout/update_nugget_form_layout"
@import "layout/new_project_form_layout"
@import "layout/update_project_form_layout"
@import "layout/new_nugget_form_layout"
