
// TOOLTIP

.tooltip-container
  border-radius: $default-border-radius
  box-shadow: 0 0 5px $dark-placeholder-text-color
  background: $light-tertiary-color
  .tooltip-header
    border-radius: $default-border-radius
    border-bottom: 1px solid $tertiary-color
  .tooltip-content

  // FILTER AND SORT TOOLTIP

  &.filter, &.sort
    .tooltip-header
    .tooltip-content

  // PROFILE TOOLTIP

  &.profile
    .tooltip-content
      color: $dark-text-color
      .menu-item
        border-bottom: 1px solid $tertiary-color
        &:hover
          cursor: pointer
        &:last-child
          background: $tertiary-color
          border: none

  // TOOLTIP ARROW

  &::before
    content: ''
    width: 0
    height: 0
    position: absolute
    border: 6px solid
    border-color: $light-tertiary-color $light-tertiary-color transparent transparent
    transform-origin: 0 0
    transform: translateX(-50%) rotate(-45deg)
    box-shadow: 3px -3px 3px rgba(#000, 0.2)
    left: calc(50% - 3px)
    top: 0

// CHECKBOX

.checkbox-container
  input.checkbox
    opacity: 0
    cursor: pointer
    &:checked + .check
      background: $light-secondary-color
      border-color: $light-secondary-color
      & + .label
        color: $light-secondary-color

  // CHECK

  .check
    background-color: $light-tertiary-color
    border: 1px solid $dark-text-color
    border-radius: $small-border-radius
    cursor: pointer
    &::after
      content: ""
      position: absolute
      display: none
      left: 3px
      top: 0
      width: 5px
      height: 9px
      border: solid $light-tertiary-color
      border-width: 0 2px 2px 0
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)

// RADIO BUTTON

.radio-container
  input.radio
    opacity: 0
    cursor: pointer
    &:checked + .check
      border: 1px solid $light-secondary-color
      &:after
        background: $light-secondary-color
      & + .label
        color: $light-secondary-color

  // CHECK

  .check
    background-color: $light-tertiary-color
    border: 1px solid $dark-text-color
    border-radius: 50%
    cursor: pointer
    &::after
      content: ""
      position: absolute
      width: 10px
      height: 10px
      background: $light-tertiary-color
      border-radius: 50%
      left: calc(50% - 5px)
      top: calc(50% - 5px)

// SCROLLBAR

::-webkit-scrollbar
  width: 6px
::-webkit-scrollbar-thumb
  background: #C9C9C9
  border-radius: $default-border-radius

// AVATAR

.avatar
  .pic
    border-radius: $default-border-radius
    &.online
      border: 2px solid $success
      box-shadow: 0 0 3px $success
    &.offline
      border: 2px solid $triage-status
      box-shadow: 0 0 3px $triage-status

// INPUTS

.input-container

  // PRIMARY INPUT

  .primary-input
    background: transparent
    color: $light-tertiary-color
    border: none
    &::placeholder
      color: $light-placeholder-text-color

  // LIGHT PRIMARY INPUT

  .light-primary-input
    outline-color: $primary-color
    border: 1px solid $dark-text-color
    border-radius: $default-border-radius
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button
      -webkit-appearance: none
      color: $dark-text-color
      &::placeholder
        color: $dark-placeholder-text-color
    &.error
      border: 1px solid $error

  .label
    color: $dark-text-color
    &.error
      color: $error
  .validation-message
    &.error
      color: $error
    &.success
      color: $success
  .helper-text
    color: $dark-placeholder-text-color

  // TEXTAREA CONTAINER

  .textarea-container
    .character-count
        color: $dark-placeholder-text-color

  // DATEPICKER CONTAINER

  .datepicker-container
    input
      cursor: pointer

  // DROPDOWN CONTAINER

  .dropdown-container
    input
      cursor: pointer
    .showing-list
      border-radius: $default-border-radius $default-border-radius 0 0
    .arrow
      cursor: pointer
      &.up
        transform: translateY(-50%) rotate(180deg)
      &.down
        transform: translateY(-50%)

    // DROPDOWN LIST

    .dropdown-list
      color: $dark-text-color
      background: $light-tertiary-color
      border: 1px solid $dark-placeholder-text-color
      cursor: pointer

// BUTTONS

// PRIMARY BUTTON

.primary-button
  background: $primary-color
  color: $light-tertiary-color
  border-radius: $default-border-radius
  cursor: pointer
  border: 1px solid $light-tertiary-color
  &:hover:not(:disabled)
    background: $dark-primary-color
  &:disabled
    opacity: .2
    cursor: not-allowed

// LIGHT PRIMARY BUTTON

.light-primary-button
  background: $light-tertiary-color
  color: $primary-color
  border-radius: $default-border-radius
  cursor: pointer
  border: 1px solid $primary-color
  &:hover:not(:disabled)
    background: $dark-tertiary-color
  &:disabled
    opacity: .2
    cursor: not-allowed

@import "material/app_material"
@import "material/sidebar_material"
@import "material/home_material"
@import "material/home_right_column_material"
@import "material/project_list_material"
@import "material/project_card_view_material"
@import "material/project_table_view_material"
@import "material/nugget_list_material"
@import "material/nugget_card_view_material"
@import "material/nugget_table_view_material"
@import "material/login_material"
@import "material/update_nugget_form_material"
@import "material/new_project_form_material"
@import "material/update_project_form_material"
@import "material/new_nugget_form_material"
@import "material/popup_material"
@import "material/loading_material"
@import "material/settings_material"
@import "material/profile_material"
@import "material/not_found_material"
@import "typography/settings_left_column_typography"
@import "material/settings_left_column_material"
