
*
  outline-color: $dark-primary-color

.tooltip-container // TOOLTIP
  background: $light-tertiary-color
  border-radius: $default-border-radius
  box-shadow: 0 0 5px $dark-placeholder-text-color

  .tooltip-header
    border-bottom: 1px solid $tertiary-color
    border-radius: $default-border-radius

  &.profile // PROFILE TOOLTIP
    .tooltip-content
      color: $dark-text-color

      .menu-item
        border-bottom: 1px solid $tertiary-color

        &:hover
          cursor: pointer

        &:last-child
          background: $tertiary-color
          border: 0

  &.center // TOOLTIP CENTER ARROW
    &::before

      border: 6px solid
      border-color: $light-tertiary-color $light-tertiary-color transparent transparent
      box-shadow: 3px -3px 3px rgba($black, 0.2)
      content: ''
      height: 0
      left: calc(50% - 3px)
      position: absolute
      top: 0
      transform: translateX(-50%) rotate(-45deg)
      transform-origin: 0 0
      width: 0

  &.right //  TOOLTIP RIGHT ARROW
    &::before
      border: 6px solid
      border-color: $light-tertiary-color $light-tertiary-color transparent transparent
      box-shadow: 3px -3px 3px rgba($black, 0.2)
      content: ''
      height: 0
      position: absolute
      right: calc(30px - 3px)
      top: 0
      transform: rotate(-45deg)
      transform-origin: 0 0
      width: 0

.checkbox-container // CHECKBOX

  .checkbox
    cursor: pointer
    opacity: 0

    &:checked + .check
      background: $light-secondary-color
      border-color: $light-secondary-color

      & + .label
        color: $light-secondary-color

  .label // LABEL
    cursor: pointer

  .check // CHECK
    background-color: $light-tertiary-color
    border: 1px solid $dark-text-color
    border-radius: $small-border-radius
    cursor: pointer

    &::after
      border: solid $light-tertiary-color
      border-width: 0 2px 2px 0
      content: ''
      display: none
      height: 9px
      left: 3px
      position: absolute
      top: 0
      transform: rotate(45deg)
      width: 5px

.radio-container // RADIO BUTTON

  .radio
    cursor: pointer
    opacity: 0

    &:checked + .check
      border: 1px solid $light-secondary-color

      &::after
        background: $light-secondary-color

      & + .label
        color: $light-secondary-color

  .label // LABEL
    cursor: pointer

  .check // CHECK
    background-color: $light-tertiary-color
    border: 1px solid $dark-text-color
    border-radius: 50%
    cursor: pointer

    &::after
      background: $light-tertiary-color
      border-radius: 50%
      content: ''
      height: 10px
      left: calc(50% - 5px)
      position: absolute
      top: calc(50% - 5px)
      width: 10px

::-webkit-scrollbar // SCROLLBAR
  width: 6px

::-webkit-scrollbar-thumb // SCROLLBAR
  background: $dark-tertiary-color
  border-radius: $default-border-radius

.avatar // AVATAR
  cursor: pointer

  .pic
    border-radius: $default-border-radius

.input-container // INPUTS

  // SEARCH INPUT

  &.search
    .close-icon
      background: $tertiary-color
      border-radius: 50%

    &::placeholder
      color: $dark-placeholder-text-color

  .primary-input // PRIMARY INPUT
    background: transparent
    border: 1px solid $light-placeholder-text-color
    border-radius: $default-border-radius
    color: $light-tertiary-color

    &::placeholder
      color: $light-placeholder-text-color

  .light-primary-input // LIGHT PRIMARY INPUT
    border: 1px solid $dark-text-color
    border-radius: $default-border-radius

    &[type='number']
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        appearance: none
        color: $dark-text-color

    &::placeholder
      color: $dark-placeholder-text-color

    &.error
      border: 1px solid $error

  .label
    color: $dark-text-color

    &.error
      color: $error

  .validation-message
    &.error
      color: $error

    &.success
      color: $success

  .helper-text
    color: $dark-placeholder-text-color

  .textarea-container // TEXTAREA CONTAINER
    .character-count
      color: $dark-placeholder-text-color

  .datepicker-container // DATEPICKER CONTAINER
    input
      cursor: pointer

  .dropdown-container // DROPDOWN CONTAINER
    input
      cursor: pointer

    .showing-list
      border-radius: $default-border-radius $default-border-radius 0 0

    .arrow
      cursor: pointer

      &.up
        transform: translateY(-50%) rotate(180deg)

      &.down
        transform: translateY(-50%)

    .dropdown-list // DROPDOWN LIST
      background: $light-tertiary-color
      border: 1px solid $dark-placeholder-text-color
      color: $dark-text-color
      cursor: pointer

.primary-button // PRIMARY BUTTON
  background: $primary-color
  border: 1px solid $light-tertiary-color
  border-radius: $default-border-radius
  color: $light-tertiary-color
  cursor: pointer

  &:hover
    &:not(:disabled)
      background: $dark-primary-color

  &:disabled
    cursor: not-allowed
    opacity: 0.2

.light-primary-button // LIGHT PRIMARY BUTTON
  background: $light-tertiary-color
  border: 1px solid $primary-color
  border-radius: $default-border-radius
  color: $primary-color
  cursor: pointer

  &:hover
    &:not(:disabled)
      background: $dark-tertiary-color

  &:disabled
    cursor: not-allowed
    opacity: 0.2

.link // LINK
  color: $light-secondary-color
  cursor: pointer
  text-decoration: underline

@import 'material/app_material'
@import 'material/sidebar_material'
@import 'material/home_material'
@import 'material/home_right_column_material'
@import 'material/project_list_material'
@import 'material/project_card_view_material'
@import 'material/project_table_view_material'
@import 'material/nugget_list_material'
@import 'material/nugget_table_view_material'
@import 'material/login_material'
@import 'material/update_nugget_form_material'
@import 'material/new_project_form_material'
@import 'material/update_project_form_material'
@import 'material/new_nugget_form_material'
@import 'material/popup_material'
@import 'material/picture_crop_material'
@import 'material/loading_material'
@import 'material/settings_material'
@import 'material/not_found_material'
@import 'material/settings_navigation_material'
@import 'material/snackbar_material'
@import 'material/internal_server_error_material'
@import 'material/error_page_material'
@import 'material/profile_material'
@import 'material/my_organizations_material'
@import 'material/left_side_material'
@import 'material/attachment_material'
@import "material/file_preview_material"
