
*,
input,
label,
button
  font-family: 'Roboto', sans-serif

body
  font-family: 'Roboto', sans-serif
  font-size: 14px

.link // LINK
  font-weight: $bold

.tooltip-container // TOOLTIP
  .tooltip-header
    font-size: 14px

  &.profile // PROFILE TOOLTIP
    .tooltip-header
      .name-label
        font-size: 14px

      .email-label
        font-size: 12px

    .tooltip-content
      .menu-item
        div
          font-size: 12px

.checkbox-container, // CHECKBOX
.radio-container // RADIO
  font-size: 14px
  font-weight: $regular

  .label
    white-space: nowrap

.input-container // INPUTS

  .primary-input, // PRIMARY INPUT
  .light-primary-input // LIGHT PRIMARY INPUT
    font-size: 14px

  .label
    font-size: 14px

  .validation-message
    font-size: 12px

  .textarea-container // TEXTAREA CONTAINER
    .character-count
      font-size: 10px

  .dropdown
    font-size: 14px

    .dropdown-toggle
      .clear
        font-size: 16px
        line-height: initial

.primary-button, // PRIMARY BUTTON
.secondary-button // LIGHT PRIMARY BUTTON
  font-size: 16px
  font-weight: $medium


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900') // sass-lint:disable-line no-url-domains, no-url-protocols
@import 'typography/home_typography'
@import 'typography/project_list_typography'
@import 'typography/project_card_view_typography'
@import 'typography/project_table_view_typography'
@import 'typography/nugget_list_typography'
@import 'typography/nugget_table_view_typography'
@import 'typography/login_typography'
@import 'typography/sidebar_typography'
@import 'typography/popup_typography'
@import 'typography/profile_picture_editor_typography'
@import 'typography/picture_crop_typography'
@import 'typography/not_found_typography'
@import 'typography/snackbar_typography'
@import 'typography/internal_server_error_typography'
@import 'typography/my_organizations_typography'
@import 'typography/left_side_typography'
@import 'typography/settings_navigation_typography'
@import 'typography/attachment_typography'
@import 'typography/file_preview_typography'
@import 'typography/release_list_typography'
@import 'typography/release_table_view_typography'
@import 'typography/unread_typography'
@import 'typography/pagination_typography'
@import 'typography/multiple_list_typography'
@import 'typography/nuggets_menu_typography'
@import 'typography/breadcrumb_typography'
@import 'typography/subscribed_typography'
@import 'typography/no_form_state_typography'
@import 'typography/invite_typography'
@import 'typography/personal_settings_typography'
@import 'typography/new_phase_popup_typography'
@import 'typography/maestro_settings_typography'
@import 'typography/calendar_typography'
@import 'typography/calendar_visualizer_typography'
@import 'typography/assigned_typography'
@import 'typography/time_card_form_typography'
@import 'typography/assignment_typography'
