
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

*, input, label, button
  font-family: 'Roboto', sans-serif

body
  font-family: 'Roboto', sans-serif

// TOOLTIP
.tooltip-container
  .tooltip-title
    font-size: 14px

// CHECKBOX AND RADIO

.checkbox-container, .radio-container
  font-size: 12px
  .label
    white-space: nowrap

// INPUTS

.primary-input
  font-size: 18px
  ::placeholder
    font-family: 'Roboto', sans-serif

.light-primary-input
  font-size: 12px
  &::placeholder
    font-size: 12px

// BUTTONS

.primary-button, .light-primary-button
  font-size: 16px
  font-weight: $medium
  &.small
    font-size: 14px

@import "typography/home_typography"
@import "typography/home_right_column_typography"
@import "typography/project_list_typography"
@import "typography/project_card_view_typography"
@import "typography/project_table_view_typography"
@import "typography/nugget_list_typography"
@import "typography/nugget_card_view_typography"
@import "typography/nugget_table_view_typography"
@import "typography/login_typography"
@import "typography/sidebar_typography"
@import "typography/update_nugget_form_typography"
@import "typography/new_project_form_typography"
@import "typography/update_project_form_typography"
@import "typography/new_nugget_form_typography"
@import "typography/popup_typography"
@import "typography/settings_typography"
@import "typography/profile_typography"
