
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

*
  font-family: 'Roboto', sans-serif

body
  font-family: 'Roboto', sans-serif

input.primary-input
  font-size: 18px
  ::placeholder
    font-family: 'Roboto', sans-serif

.light-primary-input
  font-size: 12px
  &::placeholder
    font-size: 12px

@import "typography/login_typography"
@import "typography/signup_typography"
@import "typography/home_typography"
@import "typography/home_right_column_typography"
@import "typography/home_left_column_typography"
