
$button-background-color: #3498DB
$button-text-color: #fff
$link-text-color: rgba(0, 120, 215, 0.90)
$primary-color: rgba(70, 59, 91, 1)
$side-bar-box-shadow: rgba(0, 0, 0, 0.16)
$selected-box-background-color: rgba(94, 83, 117, 1)
$selected-box-border-left-color: rgba(47, 36, 69, 1)
$selected-box-shadow: rgba(0, 0, 0, 0.45)
