
$button-background-color: #3498DB
$button-text-color: #fff
$link-text-color: rgba(0, 120, 215, 0.90)
$header-text-color: #4D4F5C
$primary-color: #463B5B
$notification-circle-color: #A63E5D
$placeholder-color: rgba(255, 255, 255, .5)
