
// FIXME: Update these variables when new design for login and signup page arrives.
$button-background-color: #3498DB
$button-text-color: #fff
$link-text-color: rgba(0, 120, 215, 0.90)

//color
$primary-color: #463B5B
$light-primary-color: #5E5375
$dark-primary-color: #2F2445
$secondary-color: #851E3E
$light-secondary-color: #A63E5D
$darker-secondary-color: #600621
$tertiary-color: #E5E5E5
$light-tertiary-color: #FFFFFF
$dark-tertiary-color: #C1C1C1
$success: #33965E
$error: #D24C48
$warning: #D2A448
$triage-status: #B5B5B5
$backlog-status: #D27648
$light-text-color: $light-tertiary-color
$light-deactivated-text-color: rgba($light-text-color, .2)
$dark-text-color: #232323
$dark-deactivated-text-color: rgba($dark-text-color, .2)
$border-color: rgba($dark-text-color, .4)
$light-placeholder-text-color: rgba($light-text-color, .5)
$dark-placeholder-text-color: rgba($dark-text-color, .5)

//border
$default-border-radius: 5px
