#assignment
  > .content
    .title
      font-size: 16px

    .tables
      .table-box
        .table
          text-align: center

          .header
            p
              font-size: 16px

            .cell
              .title-container
                p
                  font-size: 16px
                  font-weight: $medium

          .content
            font-size: 14px

  > .empty-state
    .empty-state-content
      .content-title
        font-size: 30px

      .content-sub-title
        font-size: 16px
