#assignment
  > .content
    .title
      font-size: 16px

    .header
      p
        font-size: 16px

        .table-box
          .table
            text-align: center

            .content
              font-size: 14px

  > .empty-state
    .empty-state-content
      .content-title
        font-size: 30px

      .content-sub-title
        font-size: 16px
