
#assigned
  > .header
    background: $tertiary-color
    border-bottom: 1px solid $box-shadow-color

  > .content
    .assgin-tabs
      .tab
        font-size: 16px
        font-weight: $medium

        .counter
          font-size: 10px
