
#assigned
  > .content
    .assign-tabs
      .tab
        font-size: 16px
        font-weight: $medium

        .counter
          font-size: 10px

    .table-box
      .table
        > .header
          p
            font-size: 16px
            font-weight: $medium

        > .content
          font-size: 14px
