#assignment
  > .content
    .title
      font-size: 16px
      font-weight: $medium

    .tables
      .table-box
        .table
          .header
            p
              font-size: 16px
                
            .row
              text-align: left

            .cell
              .title-container
                p
                  font-size: 16px
                  font-weight: $medium

          .content
            font-size: 14px
                      
    > .time-card
      .header
        p
          font-size: 16px
          font-weight: $medium

  > .empty-state
    .empty-state-content
      .content-title
        font-size: 30px

      .content-sub-title
        font-size: 16px
