
#assigned
  > .content
    .assign-tabs
      .tab
        font-size: 16px
        font-weight: $medium

        .counter
          font-size: 10px

    .table-box
      .header
        font-size: 16px

      .content
        font-size: 14px
