#attachment
  > .content
    .attachment-container
      .attachment-box
        .menu-container
          .menu
            .menu-items
              font-size: 12px

        .caption
          font-size: 14px
          font-weight: $medium

        .date
          font-size: 12px

        .file-list
          .file-description
            .file-name,
            .file-type
              font-size: 14px
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

