#attachment
    > .content
        .attachment-container
            .new-attachment
                .attached-files
                    .file-description
                        font-size: 14px
            .attachment-box
                .menu-container
                    .menu
                        .menu-items
                            font-size: 12px
                .caption
                    font-size: 14px
                    font-weight: $medium
                .file-list
                    .file-description
                        font-size: 14px
                .date
                    font-size: 12px