
#containerCardView
  .entities
    .entity-details
      .row-1
        .container-name
          font-size: 20px
        .event-log, .unread-msg
          font-size: 12px
      .row-2
        p
          font-size: 12px
