
#filePreview
  .preview-box
    .preview-header
      .title
        font-size: 16px
        font-weight: $medium
    .file
      .file-name
        font-size: 16px
        font-weight: $medium
    .file-details
      .sender
        font-size: 18px
      .file-description
        font-size: 14px
      .file-metadata
        font-size: 12px
