
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

#header
  .entity
    font-size: 30px
  .profile
    .username
      font-size: 20px
    .role
      font-size: 14px
