
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

#header
  .entity
    font-size: 30px
  .search
    .search-result
      .tab
        p
          font-size: 14px
      .result-list
        .result
          .place, .details
            font-size: 12px
          .project-name
            font-size: 14px
            font-weight: $medium
  .profile
    .username
      font-size: 20px
    .role
      font-size: 14px
