
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

.header
  .toolbar
    font-family: 'Roboto', sans-serif
    .logo
      p
        font-size: 12px
    .search
      font-size: 12px
    .profile
      .username
        font-size: 12px
