
#homeLeftColumn
  .header
    .tooltip-container
      .filter-container, .sort-container
        .filter-label, .sort-label
          font-size: 14px
  .entities
    .entity-details
      .row-1
        .project-name
          font-size: 20px
        .event-log, .unread-msg
          font-size: 12px
      .row-2
        p
          font-size: 12px
  .empty-state
    .text
      .title-line1, .title-line2
        font-size: 29px
      .subtitle
        font-size: 14px
    button
      font-size: 14px
