
#homeRightColumn
  .header
    .new-project-button
      font-size: 14px
      font-weight: $medium
  .project-information
    .new-project-form
      .label
        font-size: 14px
      .helper
        font-size: 12px
      .character-count
        font-size: 10px


