
.home-right-column
  .project-information
    .description-title
      font-size: 17px
    .description
      font-size: 14px
    .character-count
        font-size: 11px
    .project-date
      p
        font-size: 17px
      .due-date, .create-at-date
        font-size: 13px
