
.home
  .left
    .button
      font-size: 20px
    .projects
      .project-details
        .row-1
          .project-name
            font-size: 25px
          .unread-message
            font-size: 12px
        .row-2
          .status, .activity
            font-size: 12px
  .right
    .project-information
      .title
        font-size: 18px
      .text
        font-size: 14px
      .due-date, .create-at
        p
          font-size: 18px
        .date
          font-size: 14px
