
#home
  .chat-container
    .header
      .tooltip-container
        .menu-container
          .profile
            .name-label
              font-size: 14px
            .email-label
              font-size: 12px
          .menu-items
            div
              font-size: 12px
      .notification
        .notification-counter
          font-size: 10px
      .search-result
        .field
          font-size: 12px
          font-weight: $medium
    .new-container-mode
      .text
        .first-line-text
          font-size: 30px
        .second-line-text
          font-size: 14px
    .not-subscribed-mode
      .text
        .first-line-text
          font-size: 30px
        .second-line-text
          font-size: 14px
