
#home
  > .chat-container
    .header
      .notification
        .notification-counter
          font-size: 10px
      .search-result
        .field
          font-size: 12px
          font-weight: $medium
    .new-project-mode
      .text
        .first-line-text
          font-size: 30px
        .second-line-text
          font-size: 14px
    .not-subscribed-mode
      .text
        .first-line-text
          font-size: 30px
        .second-line-text
          font-size: 14px
