
.home-right-column
  .project-information
    .title
      font-size: 18px
    .description
      font-size: 14px
    .character-count
        font-size: 12px
    .date
      p
        font-size: 18px
      .due-date, .create-at-date
        font-size: 14px
