
.left-column
    .button
      font-size: 20px
    .projects
      .project-details
        .row-1
          .project-name
            font-size: 25px
          .event-log, .unread-msg
            font-size: 12px
        .row-2
          p
            font-size: 12px
