
#leftSide
  .carousel
    .carousel-wrapper
      .slide
        .title-container
          .title
            font-size: 30px

      .sub-title
        font-size: 18px
        line-height: 25px
        text-align: center
