
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

.login
  .body
    font-family: 'Roboto', sans-serif
    .logo
      font-size: 36px
    .information
      .form
        .validation-error
            font-size: 12px
        .input
          font-size: 16px
        .button
          font-size: 16px
        .clickable
          .link
            font-size: 16px
    .login-mode
      .title
        font-size: 24px
      .login-mode-icons
        p
          font-size: 18px
    .register
      font-size: 18px
      color: #ffffff
      .link
        color: $link-text-color
  .response-error
    font-family: 'Roboto', sans-seri
    font-size: 24px
    .error
      font-size: 18px
