
#login
  .header
    h1
      font-size: 20px
      font-weight: $bold
      letter-spacing: 2px
    .tabs
      font-size: 16px
  .body
    .button-container
      .text
        font-size: 50px
        letter-spacing: 2px
        .message
          font-size: 16px
          letter-spacing: 0
  .footer
    font-size: 14px
