
#login
  > .right-side

    .title // TITLE
      .title-header
        font-size: 30px
        font-weight: $medium

    .select-organization
      .dialog-message
        line-height: 30px
        text-align: center

        .response
          font-weight: $bold
