
#maestroSettings
  >.tab-content
    >.left-column
      .header
        font-size: 18px

      .content
        .table-box
          .table
            .table-header
              th
                font-size: 18px
                font-weight: $regular

            .table-content
              .row
                font-size: 14px
