
#nuggetList
  .header
    .project-title
      font-size: 20px
    .tooltip-container
      .filter-container, .sort-container
        .filter-label, .sort-label
          font-size: 14px
  .entities
    .table
      text-align: center
      .header
        font-size: 16px
      .content
        font-size: 14px
      .row
        .title
          text-align: left
