
#nuggetTableView
  > .entities
    .table
      text-align: center

      .header
        .cell
          font-size: 16px
          font-weight: $regular

      .content
        font-size: 14px

      .row
        .title
          text-align: left

        &.unread
          font-weight: $bold
