
#settings
  > .contents
    > .setting-content
      > .header,
      > .setting-sub-content > .header
        .title
          font-size: 18px

      .tab-content
        .left-column
          .table
            text-align: center

            .table-header
              .cell
                font-size: 18px
                font-weight: $regular

            .table-content
              font-size: 14px

