
#signup
  .response-error
    font-size: 24px
    .error
      font-size: 18px
  .step-2
    .logo
      p
        font-size: 46px
    .information
      .input,.signup-button
        font-size: 16px
      .validation-error
        font-size: 12px
    .login-mode
      .title
        font-size: 34px
      .login-mode-icons
        p
          font-size: 18px
    .question
      p
        font-size: 18px
