
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')

.signup
  .body
    font-family: 'Roboto', sans-serif
    .logo
      p
        font-size: 46px
    .select-login-mode
      .title
        font-size: 34px
    .icons
      p
        font-size: 18px
    .question
      p
        font-size: 24px
    .icons
      p
        margin-top: 15px
