
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')

.signup
  .step-1
    font-family: 'Roboto', sans-serif
    .logo
      p
        font-size: 46px
    .information
      .form
        .input,.button
          font-size: 16px
    .login-mode
      .title
        font-size: 34px
      .login-mode-icons
        p
          font-size: 18px
    .question
      p
        font-size: 18px
