
#timeCardForm
  > .content
    .estimate,
    .time-card
      .header
        p
          font-size: 16px

      &.time-card
        .time-card-table
          .table-box
            .table
              text-align: center

              .header

                .cell
                  .title-container
                    p
                      font-size: 16px
                      font-weight: $regular

              .content
                font-size: 14px

  > .empty-state
    .empty-state-content
      .content-title
        font-size: 30px

      .content-sub-title
        font-size: 16px
