
#timeCardForm
  > .content
    .title
      font-size: 16px
      font-weight: $medium

    .estimate,
    .time-card
      .header
        p
          font-size: 16px
          font-weight: $medium

      &.time-card
        .time-card-table
          .table-box
            .table
              text-align: left

              .header
                font-weight: $medium

                .cell
                  .title-container
                    p
                      font-size: 16px
                      font-weight: $medium

              .content
                font-size: 14px

                .cell
                  code
                    font-family: monospace

  > .empty-state
    .empty-state-content
      .content-title
        font-size: 30px

      .content-sub-title
        font-size: 16px
