
#updateNuggetForm
  .nugget-information
    .label
      font-size: 14px
    .helper
      font-size: 12px
    .kind, .nugget-status
      .kind-container, .status-container
        font-size: 12px
    .character-count
      font-size: 10px
  .response-message
    font-size: 14px
